@import "variables";

hr {
  margin-top: 0;
}

.networkLink {
  &:hover {
    color: $secondaryColor;
  }
  font-size: 30px;
  margin-right: 20px;
}


.pageLink {
  display: block;
  &.hide {
    display: none;
  }

}

.copyright {
  text-align: center;
  padding-top: 20px;
}
