<section>

  <hr>

    <br>

    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-md-4">
              <a class="networkLink" target="_blank" href="{{meetupLink}}"><i class="fab fa-meetup"></i></a>
              <a class="networkLink" target="_blank" href="{{faceBookLink}}"><i class="fab fa-facebook-f"></i></a>
              <a class="networkLink" target="_blank" href="{{twitterLink}}"><i class="fab fa-twitter"></i></a>
              <a class="networkLink" target="_blank" href="{{telegramLink}}"><i class="fab fa-telegram-plane"></i></a>
                <br>
                <br>
              <p><a href="mailto:contact@wecolearn.com">contact@wecolearn.com</a></p>
            </div>
            <div class="col-12 col-md-4" >
                <a class="pageLink" routerLink="{{homeLink}}" routerLinkActive="hide">Accueil</a>
                <a class="pageLink" href="{{blogLink}}" >Actualités</a>
                <a class="pageLink" routerLink="{{manifestLink}}" routerLinkActive="hide">Manifeste</a>
                <a class="pageLink" routerLink="{{aboutLink}}" routerLinkActive="hide">Qui sommes-nous ?</a>
                <a class="pageLink" routerLink="{{peerLearningLink}}" routerLinkActive="hide">Pourquoi faire du peer-learning ?</a>
                <a class="pageLink" routerLink="{{mentionLegalesLink}}" routerLinkActive="hide">Mentions Légales</a>
            </div>
        </div>
    </div>

    <div class="copyright">
      © <span>{{ now | date: 'yyyy' }}</span> - Wecolearn
    </div>
    <br>
</section>
