@import './../../../../../../assets/scss/variables.scss';






.conversation {
  position: relative;
  display: block;
  @media(min-width: $smScreen){
    padding:5px;
  }
  @media(max-width: $smScreen){
    padding:1px;
  }
  border-bottom:1px solid #ddd;
  margin:0;

  &:hover {
    cursor: pointer;
    opacity: .8;
    background-color: #efefef;

  }

  &.selected{
    background-color: rgb(255, 235, 155);
    border: 1px solid rgb(254, 205, 6);
  }



  .avatar {
    width: 50px;
    height: 50px;
    padding: 6px;
    border-radius: 50px;
  }



  // http://ctrlq.org/code/19639-turn-div-clickable-link
  .div-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    /* Makes sure the link doesn't get underlined */
    z-index: 10;
    /* raises anchor tag above everything else in div */
    background-color: white;
    /*workaround to make clickable in IE */
    opacity: 0;
    /*workaround to make clickable in IE */
    filter: alpha(opacity=0);
    /*workaround to make clickable in IE */
  }

}


//.conversation {
  //position: relative;
  //display: block;
  //padding:5px;
  //border-bottom:1px solid #ddd;
  //margin:0;


/*  &:hover {
    cursor: pointer;
    opacity: .8;
    background-color: #efefef !important;

  }*/

  // http://ctrlq.org/code/19639-turn-div-clickable-link
 /* .div-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    !* Makes sure the link doesn't get underlined *!
    z-index: 10;
    !* raises anchor tag above everything else in div *!
    background-color: white;
    !*workaround to make clickable in IE *!
    opacity: 0;
    !*workaround to make clickable in IE *!
    filter: alpha(opacity=0);
    !*workaround to make clickable in IE *!
  }*/

//}
.contact-name{
  overflow: hidden;
  white-space: nowrap;
  /* float: right; */
  display: flex;
  text-overflow: ellipsis;
}

@media(max-width: $smScreen) {
  .contact-name, .messageContainer  {
    visibility: hidden;
  }
}

.messageContainer{
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 7px;
  small{
    white-space: nowrap;
    padding: 1px;
    color: grey;
  }
}

