# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver:   pdo_mysql
    database_host: db
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: inReusableCodeWeTrust
    
    mailer_transport: smtp
    mailer_host: ~
    mailer_user: ~
    mailer_password: ~
    mailer_port: ~

    locale:            fr
    secret:            ThisTokenIsNotSoSecretChangeItPlease

    delivery_address: samuel.eyre@hotmail.fr
    host: "https://wecolearn.com"

    private_key_path:   %kernel.root_dir%/../var/jwt/private.pem
    public_key_path:    %kernel.root_dir%/../var/jwt/public.pem
    pass_phrase:        thisIsNotASecret_changeId!
    token_ttl:          86400

    user:               user
    password:           password

sendin_blue_api:
    api_key:            ~
    timeout:            5000
