@import './../../../../../../assets/scss/variables.scss';
@import "./core_ngx-chips/_core.scss"; // not working on prod :(




.table{
  padding: 0 .3rem;
  margin-bottom: 0;
}

.marginAuto{
  margin: 0 auto;
}

td{
  width: 10%;
}

label.label-form{
  color: $mainOrange;
}

@media (max-width: $smScreen) {
  .table{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    td {
      padding: 0rem;
    }
  }


}

#showProfilContainer{
  background-color: var(--main-color-2-light-15);
  padding: 10px 10px 1px 10px;
  border: 1px solid var(--main-color-1-dark-10);
}

.imageContainer{
  display: flex;
  align-content: space-around ;
  flex-flow: row wrap;
  label{
    &.editing-image{
      margin-right: auto;
      padding: 1rem;
    }
    input{
      visibility: hidden;
    }
    //input:checked + div > div {
    //  border: solid 1px #861301;
    //}
    input:checked + img {
      box-shadow: 0px 0px 0px 2px $mainOrange;
    }
  }
  img{
    display: block;
    width: 130px;
    cursor: pointer;
  }
}

.gm-style > div > a > div > img{
  display: none;
}

input[type=radio]{
  //display: none;
}

textarea{

  background-color: #f9f9f9b5;

}

.btn-container{
  margin: 3px;
}

.value-span, .imageContainer{
  margin-left: 7px;
}

// range ----------------------------

.rangeInput{
  background-color: #f8f8f8;
}

td.selected-range{
  color: $mainYellow;
}


// tags --------------------------

$foundation-theme: (
        container-border-bottom: 1px solid $mainYellow,
        container-border-bottom-focused: 2px solid $mainYellow !important,
        //container-border-bottom-loading: $mainYellow !important
);

$foundation-tag-theme: (
        background-color: $mainYellow,
        background: $mainYellow
);

.help-input{
  color: grey;
  text-align: justify;
}

.ng2-tag-input:focus, .ng2-tag-input--focused, .ng2-tag-input.ng2-tag-input--focused[_ngcontent-c5]{
  border-bottom-color: $mainYellow;
}

// apply theme to the container
::ng-deep .ng2-tag-input.foundation-theme {
  @include tag-input-theme($foundation-theme);
}

// apply theme to the tags
::ng-deep .ng2-tag-input.foundation-theme tag {
  @include tag-theme($foundation-tag-theme);
}


.slackLoginContainer {
  padding-left: 15px;
}