<form class="CreateEditTagForm" [formGroup]="createEditTagForm" *ngIf="loaded">
  <mat-form-field appearance="outline">
    <mat-label>Nom</mat-label>
    <input matInput formControlName="name" required />
  </mat-form-field>

  <mat-form-field *ngIf="isCreating" appearance="outline">
    <mat-label>Type</mat-label>
    <mat-select required formControlName="type">
      <mat-option *ngFor="let type of types" [value]="type">{{ toFrenchType(type) }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Domaines d'apprentissage</mat-label>
    <mat-select formControlName="tag_domains" multiple [compareWith]="comparer">
      <mat-option *ngFor="let tagDomain of tagDomains" [value]="tagDomain">{{tagDomain.name}}</mat-option>
    </mat-select>
  </mat-form-field>

<!--  <app-tag-domain-autocomplete [parentForm]="createEditTagForm"></app-tag-domain-autocomplete>-->

  <mat-form-field *ngIf="!isCreating" appearance="outline">
    <mat-label>Importance</mat-label>
    <input matInput formControlName="iteration" required />
  </mat-form-field>

  <div>
    <button
      *ngIf="isCreating"
      type="submit"
      mat-flat-button
      class="large"
      (click)="onUpdateTag()"
      [disabled]="!createEditTagForm.valid"
      color="primary"
    >
      Créer
    </button>
    <button
      *ngIf="!isCreating"
      type="submit"
      mat-flat-button
      class="large"
      (click)="onUpdateTag()"
      [disabled]="!createEditTagForm.valid"
      color="primary"
    >
      Mettre à jour
    </button>
    <button
      (click)="onCloseEditTag.emit()"
      class="CreateEditTagForm-close"
      type="button"
      mat-icon-button
      color="secondary"
    >
      Annuler
    </button>
  </div>
</form>
