<form class="CreateEditTagForm" [formGroup]="createEditTagForm">
  <p *ngIf="!isCreating">{{toFrenchType(tag.type)}} : {{tag.name}}</p>
  <mat-form-field *ngIf="isCreating" appearance="outline">
    <mat-label>Nom</mat-label>
    <input matInput formControlName="name" required />
  </mat-form-field>

  <mat-form-field *ngIf="isCreating" appearance="outline">
    <mat-label>Domaine</mat-label>
    <mat-select required formControlName="type">
      <mat-option *ngFor="let type of types" [value]="type">{{ toFrenchType(type) }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="!isCreating" appearance="outline">
    <mat-label>Importance</mat-label>
    <input matInput formControlName="iteration" required />
  </mat-form-field>

  <div>
    <button
      *ngIf="isCreating"
      type="submit"
      mat-flat-button
      class="large"
      (click)="onUpdateTag()"
      [disabled]="!createEditTagForm.valid"
      color="primary"
    >
      Créer
    </button>
    <button
      *ngIf="!isCreating"
      type="submit"
      mat-flat-button
      class="large"
      (click)="onUpdateTag()"
      [disabled]="!createEditTagForm.valid"
      color="primary"
    >
      Mettre à jour
    </button>
    <button
      (click)="onCloseEditTag.emit()"
      class="CreateEditTagForm-close"
      type="button"
      mat-icon-button
      color="secondary"
    >
      Annuler
    </button>
  </div>
</form>
