@import 'variables';

.resume {
  font-size: 1.2rem;
  margin-bottom: 100px;
}

.process-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;

  li {
    display: flex;
  }

  .process {
    border: none;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #D1D1D1;
    margin: 20px;
    padding: 10px;
    width: 300px;
    transition: .6s;
    background-color: white;
    color: #211D1E;

    .process-img-top {
      position: relative;
      height: 200px;
      display: flex;
      justify-content: center;
      width: 100%;
      border-radius: 5px;
      padding: 40px 30px;
      filter: drop-shadow(1px 3px 2px grey);
      //filter: drop-shadow(1px 3px 2px black);
    }
    .process-text {
      font-family: $titleFont;
      font-size: 2rem;
    }
  }

  .arrow {
    transform: rotate(180deg);
    width: 40px;
  }
}


@media screen and (max-width: $mdScreen) {

  .process-list-container {
    display: flex;
    justify-content: center;

    .process-list {
      flex-direction: column;
      justify-content: center;

      li {
        display: flex;
        flex-direction: column;

        .process {
          width: 400px;
          transition: .6s;

          &-img-top {
            height: 245px;
            display: flex;
            padding: 40px 30px;
          }
        }
      }

      .arrow {
        transform: rotate(270deg) !important;
        transition: .6s;
        display: flex;
        align-self: center;
      }
    }

  }

}

//tablet
@media screen and (min-width: $smScreen) and (max-width: $lgScreen) {
  .process-list-container .process-list li .process {
    width: 250px;
  }
}


// mobile
@media screen and (max-width: $smScreen) {

  .process-list-container .process-list li {
    .process {
      width: 250px;
      transition: .6s;
      height: 250px;
      &-img-top {
        height: 180px;
        padding: 10px;
      }
      &-text {
        font-family: $titleFont;
        font-size: 1.5rem;
      }
    }
  }


}
