<app-landing-layout title="Comment ça marche ?" mode="light">
  <div class="row">
    <div class="col-12">
      <p class="resume">
        En indiquant les sujets que tu souhaites apprendre, Wecolearn te met en relation avec des personnes autour de chez toi qui auront la même motivation que toi pour apprendre. Contacte ceux avec qui tu penses pouvoir avancer à ton rythme !
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 process-list-container">
      <ul class="process-list ">
        <li>
          <div class="process">
            <img
              src="assets/img/home/search.svg"
              class="process-img-top"
              alt=""
            />
            <p class="process-text">Recherche</p>
          </div>
        </li>
        <li>
          <img class="arrow" src="assets/img/home/arrow.svg" alt="" />
        </li>
        <li>
          <div class="process">
            <img
              src="assets/img/home/exchange.svg"
              class="process-img-top"
              alt=""
            />
            <div class="process-body"><p class="process-text">Echange</p></div>
          </div>
        </li>
        <li>
          <img class="arrow" src="assets/img/home/arrow.svg" alt="" />
        </li>
        <li>
          <div class="process">
            <img
              src="assets/img/home/meet.svg"
              class="process-img-top"
              alt=""
            />
            <div class="process-body"><p class="process-text">Rencontre</p></div>
          </div>
        </li>
      </ul>
    </div>
  </div>


</app-landing-layout>

