<section class="process">
  <div class="container">
    <div>
      <h2 class="title">Comment ça marche?</h2>
      <p class="resume">
        En indiquant les sujets que tu souhaites apprendre, Wecolearn te met en relation avec des personnes de ton entourage qui auront la même motivation que toi pour apprendre. Contacte ceux avec qui tu penses pouvoir apprendre efficacement !
      </p>
    </div>
    <div class="row">
      <div class="col-12 process-list">
        <ul class="card-list ">
          <li>
            <div class="card">
              <img
                      src="assets/img/home/search.svg"
                      class="card-img-top"
                      alt=""
              />
              <div class="card-body"><p class="card-text">Recherche</p></div>
            </div>
          </li>
          <li>
            <img class="arrow" src="assets/img/home/arrow.svg" alt="" />
          </li>
          <li>
            <div class="card">
              <img
                      src="assets/img/home/exchange.svg"
                      class="card-img-top"
                      alt=""
              />
              <div class="card-body"><p class="card-text">Echange</p></div>
            </div>
          </li>
          <li>
            <img class="arrow" src="assets/img/home/arrow.svg" alt="" />
          </li>
          <li>
            <div class="card">
              <img
                      src="assets/img/home/meet.svg"
                      class="card-img-top"
                      alt=""
              />
              <div class="card-body"><p class="card-text">Rencontre</p></div>
            </div>
          </li>
        </ul>
      </div>
    </div>


  </div>
</section>
