h1 {
  text-align: center;
  font-size: 40px;
  font-family: "ralewayregular";
}

.desktop{
  h1{
    margin: 100px;
  }
}

.container.mobile{
  display: flex;
  align-items: center;
  height: calc(100vh - 56px);
}

