<section *ngIf="!isMobile" class="desktop">
  <h1>Réinitialiser votre mot de passe</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 mx-auto">
        <div class="bloc-content">
          <form-pwd-email></form-pwd-email>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="isMobile" class="mobile container">
  <div class="row">
    <div class="col-12">
      <h3 class="center">Réinitialiser votre mot de passe</h3>
      <form-pwd-email-mobile></form-pwd-email-mobile>
    </div>
  </div>
</section>

