@import 'variables';

.profilSettings{
  &-actions {
    display: flex;
  }
}

input[type=email], input[type=password]{
  width: 250px;
}

.value-span{
  margin-left: 7px;
}

::ng-deep {
  #strength {
    width: 250px;
  }
}

