@import '../../../../../assets/scss/variables';

.table{
  padding: 0 .3rem;
  margin-bottom: 0;
}

.marginAuto{
  margin: 0 auto;
}

td{
  width: 10%;
}

@media (max-width: $smScreen) {
  .table{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    td {
      padding: 0rem;
    }
  }


}



.imageContainer{
  display: flex;
  align-content: space-around ;
  flex-flow: row wrap;
  label{
    padding: 1rem;
    margin-right: auto;
    input{
      visibility: hidden;
    }
    //input:checked + div > div {
    //  border: solid 1px #861301;
    //}
    input:checked + img {
      box-shadow: 0px 0px 0px 2px $mainOrange;
    }
  }
  img{
    display: block;
    width: 130px;
    cursor: pointer;
  }
}

.gm-style > div > a > div > img{
  display: none;
}

input[type=radio]{
  //display: none;
}

.help-input{
  color: grey;
  text-align: justify;
}

.value-span{
  margin-left: 7px;
}


.bloc-content {
  padding: 30px;
}
