
<form class="form-horizontal" (ngSubmit)="f1.form.valid && submitChangeEmail(f1)" #f1="ngForm" novalidate>
  <fieldset>

    <div class="form-group">
      <label for="email">Email</label>
      <div *ngIf="!editing['newemail']">
        <span class="value-span">{{user.email}}</span>
        <button type="button" class="btn btn-sm btn-edit" (click)="makeEditable('newemail')"><i
                class="fas fa-pencil-alt" aria-hidden="true"></i></button>
      </div>
      <div *ngIf="editing['newemail']" [ngClass]="{ 'has-error': f1.submitted && !email.valid }">
        <input id="email" type="email" class="form-control showvalidity" name="email" [(ngModel)]="newemail"
               #email="ngModel" required pattern="{{pattern}}"/>
        <div *ngIf="f1.submitted && !email.valid" class="help-block">L'adresse email n'est pas valide</div>
      </div>
    </div>

    <!-- Button -->
    <div *ngIf="editing['newemail']" class="form-group">
      <div class="profilSettings-actions">
        <button id="cancelEmail" type="button" (click)="initEditable()" class="btn btn-secondary">Annuler
        </button>
        &nbsp;
        <button id="submitEmail" name="submit" class="btn btn-primary">Changer l'email</button>
      </div>
    </div>


  </fieldset>
</form>
<hr>
<form [formGroup]="newPasswordForm" >
  <fieldset>

    <div class="form-group" *ngIf="!editing['newpassword']">
      <label>Mot de passe</label>
      <div>
        <span class="value-span">********</span>
        <button type="button" class="btn btn-sm btn-edit" (click)="makeEditable('newpassword')"><i
          class="fas fa-pencil-alt" aria-hidden="true"></i></button>
      </div>
    </div>
    <ng-container *ngIf="editing['newpassword']">
      <div class="form-group">
        <label for="password">Mot de passe actuel</label>
        <input type="password" id="password" class="form-control showvalidity"
               formControlName="password" required/>
        <mat-error *ngIf="password.touched && password.hasError('required')" >Le mot de passe est invalide</mat-error>
        <mat-error *ngIf="password.hasError('minlength')" >
          Le mot de passe doit faire au minimum 6 caractères.
        </mat-error>
        <mat-error *ngIf="password.hasError('maxlength')" >
          Le mot de passe ne peut pas faire plus de 128 caractères.
        </mat-error>
      </div>
      <div class="form-group">
        <label for="new_password">Nouveau mot de passe</label>
        <input type="password" id="new_password" #passwordValue class="form-control showvalidity"
               (input)="onPasswordInput()" formControlName="new_password" required/>
        <mat-error *ngIf="newPassword.touched && newPassword.hasError('required')" >Le mot de passe est invalide</mat-error>
        <mat-error *ngIf="newPassword.hasError('minlength')" >
          Le mot de passe doit faire au minimum 6 caractères.
        </mat-error>
        <mat-error *ngIf="newPassword.hasError('maxlength')" >
          Le mot de passe ne peut pas faire plus de 128 caractères.
        </mat-error>
        <password-strength-bar [passwordToCheck]="passwordValue.value"></password-strength-bar>
      </div>
      <div class="form-group">
        <label for="passwordVerification">Confirmation du mot de passe</label>
        <input type="password" id="passwordVerification" class="form-control showvalidity" name="passwordVerification"
               (input)="onPasswordInput()" formControlName="password_verification" required/>
        <mat-error *ngIf="passwordVerification.touched && passwordVerification.hasError('required')">Le mot de passe est invalide</mat-error>
        <mat-error *ngIf="passwordVerification.hasError('minlength')" >
          Le mot de passe doit faire au minimum 6 caractères.
        </mat-error>
        <mat-error *ngIf="passwordVerification.hasError('maxlength')" >
          Le mot de passe ne peut pas faire plus de 128 caractères.
        </mat-error>
        <mat-error
          *ngIf="
            passwordVerification.touched &&
            passwordVerification.hasError('passwordMismatch') &&
            !passwordVerification.hasError('required') &&
            !passwordVerification.hasError('minLength') &&
            !passwordVerification.hasError('maxLength')
          "
        >
          Les mots de passe ne correspondent pas.
        </mat-error>
      </div>
    </ng-container>

    <div *ngIf="editing['newpassword']" class="form-group">
      <div class="profilSettings-actions">
        <button id="cancelPassword" type="button" (click)="initEditable()" class="btn btn-secondary">
          Annuler
        </button>
        &nbsp;
        <button id="submitPassword" [disabled]="!newPasswordForm.valid" type="submit" (click)="submitNewPassword()" class="btn btn-primary">Changer mot de passe</button>
      </div>
    </div>


  </fieldset>
</form>

<showProfilSettings></showProfilSettings>
<emailNotificationSettings></emailNotificationSettings>
<hr>
<label>Supprimer mon compte</label>
<div>
  <button (click)="deleteAccount()">Supprimer</button>
</div>
