5 1 * * * root /usr/local/bin/php /src/src/Cron/alive.php >> /var/log/cron.log
# An empty line is required at the end of this file for a valid cron file.
                                                                        
