@import "variables";


::ng-deep {
  .mat-horizontal-content-container {
    padding: 0 !important;
  }

  .mat-step-header .mat-step-icon {
    &:not(.mat-step-icon-selected) {
    background-color: $secondaryColor;
    }
    color: white;
    &-selected {
      background-color: $primaryColor;
    }
  }

  mat-step-header.mat-horizontal-stepper-header {
    padding: 0 32px 0 32px;
  }
}

.spaceForFooter {
  height: 56px;
}

ion-footer {
  position: fixed;
  bottom: 0;
}

.Onboarding {
  mat-horizontal-stepper {
    background: none;
  }

  app-profile-form-tags-mobile {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    min-height: 70vh;
    border: none;
    &.identifiants {
      mat-form-field{
        width: 100%;
      }
    }

    &-header {
      background: none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    .card-body {
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      display: flex;
      &-tagHints {
        font-size: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;

        app-emoji {
          width: 30px;
        }

        span {
          margin-right: 8px;
        }

        margin-top: 10px;
      }

      > :first-child {
        width: 100%
      }
    }
  }

  .btn-container-first {
    float: right;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
  }

  &-conditions {
    text-align: center;
    a {
      font-weight: bold;
    }
  }

  &-newsletter {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

}


