<div class="chat-window" [style.visibility]="loading ? 'hidden' : 'visible'">
  <div class="chat-window-messages">
    <chat-message-mobile
      *ngFor="let message of messages$ | async as messages; let i = index"
      [clientId]="currentUser.id"
      [message]="message"
      [previousMessage]="i > 0 ? messages[(i - 1)] : null"
    >
    </chat-message-mobile>
    <div class="space"></div>
  </div>
  <div class="chat-window-footer">
    <quill-editor
      #chatInput
      placeholder="Ecrire quelque chose..."
      maxLength="1000"
      (keydown)="onEnter($event)"
      [(ngModel)]="draftMessage.message"
      [disabled]="disabled"
      [trimOnValidation]="true"
      [modules]="modules"
      [customToolbarPosition]="'bottom'"
    >
      <div quill-editor-toolbar >
          <span class="ql-formats">
            <button class="ql-bold" [title]="'Bold'"></button>
            <button class="ql-italic" [title]="'Italic'"></button>
            <button class="ql-link" [title]="'Link'"></button>
          </span>
          <span class="ql-send">
            <mat-icon color="primary" (click)="sendMessage()" title="envoyer">send</mat-icon>
          </span>
      </div>
    </quill-editor>
<!--    <div class="input-group">-->
<!--          <textarea-->
<!--            class="form-control" #chatInput id="chatInput"-->
<!--            placeholder="Message"-->
<!--            (keydown.enter)="onEnter($event)"-->
<!--            [(ngModel)]="draftMessage.message"-->
<!--            [disabled]="disabled"-->
<!--          ></textarea>-->
<!--      <span class="input-group-append">-->
<!--          <a class="form-control" (click)="sendMessage()"><i title="envoyer" class="fa fa-paper-plane "></i></a>-->
<!--        </span>-->
<!--    </div>-->
  </div>
</div>

