.SigninMobile {
  height: 100%;
  &-application {
    display: flex;
    align-items: center;
    //border-bottom: solid grey 1px;
    background-color: var(--main-color-1);
    color: white;
    font-weight: bold;
    justify-content: space-between;
    padding: 15px 15px;
    margin-bottom: 5px;
  }
  &-signingContainer {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .brand {
    margin-bottom: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
