<section class="SigninMobile">
  <div class="SigninMobile-application" *ngIf="isAndroid">
    <span>Télécharger l'application !</span>
    <app-android-link [text]="'Android'"></app-android-link>
  </div>
  <div class="container SigninMobile-signingContainer">
    <div class="row">
      <div class="col-12">
        <div class="brand">
          <img src="assets/logo/wecolearn-logo-black.svg" alt="" />
        </div>
        <form-signin-mobile></form-signin-mobile>
      </div>
    </div>
  </div>
</section>
