<div [style.visibility]="loading ? 0 : 1">


  <section *ngIf="!isMobile">
    <div class="card">
      <div class="card-body msg-container-base">
        <div *ngIf="currentUser">
          <chat-message
            *ngFor="let message of messages | async; let i = index"
            [clientId]="currentUser.id"
            [message]="message"
            [previousMessageDate]="( currentMessages && (i) > 0) ? currentMessages[(i - 1)]['created'] : message['created']"
            [previousMessageIncoming]="!!( currentMessages && (i) > 0 && currentMessages[(i - 1)]['sender'])">
          </chat-message>
        </div>
      </div>

      <div class="card-footer">
        <div class="input-group">
          <textarea
            class="form-control" #chatInput id="chatInput"
            placeholder="Ecrivez votre message ici !"
            (keydown.enter)="onEnter($event)"
            [(ngModel)]="draftMessage.message"
            [disabled]="disabled"
          ></textarea>
          <span class="input-group-append">
            <button class="btn btn-primary btn-chat btn-lg"
                    (click)="onEnter($event)"
            ><i title="envoyer" class="fa fa-paper-plane "></i></button>
          </span>
        </div>
      </div>
    </div>

  </section>

  <section *ngIf="isMobile">
    <div class="chat-body-mobile msg-container-base">
      <div *ngIf="currentUser">
        <chat-message-mobile
          *ngFor="let message of messages | async; let i = index"
          [clientId]="currentUser.id"
          [message]="message"
          [previousMessageDate]="( currentMessages && (i) > 0) ? currentMessages[(i - 1)]['created'] : message['created']"
          [previousMessageIncoming]="!!( currentMessages && (i) > 0 && currentMessages[(i - 1)]['sender'])">
        </chat-message-mobile>
      </div>
    </div>
    <div class="chat-footer mobile">
      <div class="input-group">
          <textarea
            class="form-control" #chatInput id="chatInput"
            placeholder="Message"
            (keydown.enter)="onEnter($event)"
            [(ngModel)]="draftMessage.message"
            [disabled]="disabled"
          ></textarea>
        <span class="input-group-append mobile">
                    <a class="form-control" (click)="onEnter($event)"><i title="envoyer" class="fa fa-paper-plane "></i></a>
                </span>
      </div>
    </div>
  </section>
</div>

