<div class="col-md-12 col-md-offset-1">
    <h2>Liste des Programmations</h2>
    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Blog</th>
              <th>Client</th>
              <th>Phrase Clef</th>
              <th>Autre page</th>
              <th>Etat</th>
              <th>Dernière modification</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entity of entities">
              <td>{{ entity.name }}_{{ entity.id }}</td>
              <td><display-blog [idBlog]="entity.idBlog" [pageId]="entity.blogPageId"></display-blog></td>
              <td><display-client [idClient]="entity.idClient"></display-client></td>
              <td><display-clef [idPhraseClef]="entity.idPhraseClef"></display-clef></td>
              <td>
                <span [hidden]="!entity.isBlank">Oui</span>
                <span [hidden]="entity.isBlank">Non</span>
              </td>
              <td>
                <exception [isException]="entity.isException" [programmation]="entity"></exception>
              </td>
              <td>
                {{ entity.time | amTimeAgo }}
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <pagination (change)="change($event)"></pagination>
</div>