@import 'variables';
@import "core_ngx-chips/core";

tag-input{
  overflow: hidden;
}


// tags --------------------------

$foundation-theme: (
        container-border-bottom: 1px solid $mainYellow,
        container-border-bottom-focused: 2px solid $mainYellow !important,
  //container-border-bottom-loading: $mainYellow !important
);

$foundation-tag-theme: (
        background-color: $mainYellow,
        background: $mainYellow
);


// apply theme to the container
::ng-deep .ng2-tag-input.foundation-theme {
  @include tag-input-theme($foundation-theme);
}

// apply theme to the tags
::ng-deep .ng2-tag-input.foundation-theme tag {
  @include tag-theme($foundation-tag-theme);
}


