@import './../../../../../assets/scss/variables.scss';

#searchBar{
  width: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}



.loading {
  background-color: #ffffff;
  background-size: 25px 25px;
  background-position:right center;
  background-repeat: no-repeat;
  background-position-x: 95%;
}