<div class="chat-window-container" *ngIf="currentThread.id">
  <div class="chat-window">
    <div class="panel-container">
      <div class="panel panel-default">

        <div class="panel-heading top-bar">
          <div class="panel-title-container">
              <i class="fa fa-comment"></i>
              Chat - {{currentThread.name}}
          </div>
          <div class="panel-buttons-container">
            <span (click)="closeChat()">
              <i class="fa fa-close" ></i>
            </span>
          </div>
        </div>

        <div class="panel-body msg-container-base" >
          <div *ngIf="currentUser">
            <chat-message
            *ngFor="let message of messages | async"
            [clientId]="currentUser.id"
            [message]="message">
          </chat-message>
          </div>
      </div>

      <div class="panel-footer">
        <div class="input-group">
          <input type="text"
          class="chat-input"
          placeholder="Ecrivez votre message ici !"
          (keydown.enter)="onEnter($event)"
          [(ngModel)]="draftMessage.message"
         (ngModelChange)="draftMessageChange($event)"
          />
          <span class="input-group-btn">
            <button class="btn-chat"
            (click)="onEnter($event)"
            ><i title="envoyer" class="fa fa-paper-plane "></i></button>
          </span>
        </div>
      </div>

    </div>
  </div>
</div>
