mat-horizontal-stepper{
  background: none;
}

.card{
  min-height: 50vh;
  .card-body{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    :first-child{
      width: 100%
    }
    &-tagHints {
      margin-top: 10px;
    }
  }
}



.btn-container-first{
  float: right;
}

.btn-container{
  display: flex;
  justify-content: space-between;
}
