<form (keydown.enter)="$event.preventDefault()" (ngSubmit)="submit()" [formGroup]="userForm">
    <mat-horizontal-stepper>
        <ng-template matStepperIcon="profil">
            <i class="fa fa-user"></i>
        </ng-template>
        <ng-template matStepperIcon="edit">
            <i class="fa fa-check"></i>
        </ng-template>
        <ng-template matStepperIcon="done">
            <mat-icon>done_all</mat-icon>
        </ng-template>
      <mat-step label="Ville">
        <div class="card">
          <div class="card-header">
            <h6 class="center">{{titles.city.title}}</h6>
          </div>
          <div class="card-body">
            <app-profile-form-city [parentForm]="userForm"></app-profile-form-city>
          </div>
          <div class="card-footer">
            <div class="btn-container-first">
              <button type="button" class="btn btn-primary" matStepperNext>Suivant ></button>
            </div>
          </div>
        </div>
      </mat-step>
      <mat-step label="Apprentissage">
        <div class="card">
          <div class="card-header">
            <h6 class="center">{{titles.tags.title}}</h6>
          </div>
          <div class="card-body">
            <profile-form-tags [parentForm]="userForm" [fieldName]="'learn_tags'" [type]="learnType" ></profile-form-tags>
            <small class="card-body-tagHints">♟️ Les echecs, 💻 l'informatique, 🎱 le snooker, 🎺 la trompette, 💃🏾 la polka...   </small>
          </div>
          <div class="card-footer">
            <div class="btn-container">
              <button type="button" class="btn btn-secondary" matStepperPrevious>< Retour</button>
              <button type="button" class="btn btn-primary" matStepperNext>Suivant ></button>
            </div>
          </div>
        </div>
      </mat-step>
      <mat-step label="Projets">
        <div class="card">
          <div class="card-header">
            <h6 class="center">{{titles.bio.title}}</h6>
          </div>
          <div class="card-body">
            <profile-form-biography [parentForm]="userForm"></profile-form-biography>
          </div>
          <div class="card-footer">
            <div class="btn-container">
              <button type="button" class="btn btn-secondary" matStepperPrevious>< Retour</button>
              <button type="button" class="btn btn-primary" matStepperNext>Suivant ></button>
            </div>
          </div>
        </div>
      </mat-step>
        <mat-step label="Identifiants">
            <div class="card">
                <div class="card-header">
                    <h6 class="center">{{titles.ids.title}}</h6>
                </div>
                <div class="card-body">
                    <div class="col-12 col-md-6 col-xl-4">
                      <div class="col-12 no-padding">
                        <mat-form-field appearance="legacy" >
                          <mat-label>Prénom</mat-label>
                          <input matInput placeholder="" formControlName="first_name"  >
                        </mat-form-field>
                      </div>
                      <div class="col-12 no-padding">
                        <mat-form-field appearance="legacy">
                          <mat-label>Nom</mat-label>
                          <input matInput placeholder="" formControlName="last_name"  >
                        </mat-form-field>
                      </div>
                        <div class="col-12 no-padding">
                            <auth-form-email [parentForm]="userForm"></auth-form-email>
                        </div>
                        <div class="col-12 no-padding">
                            <auth-form-password [parentForm]="userForm"></auth-form-password>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-container">
                        <button type="button" class="btn btn-secondary" matStepperPrevious>< Retour</button>
                        <button type="submit" class="btn btn-primary" matStepperNext>Créer mon compte</button>
                    </div>
                </div>
            </div>
        </mat-step>

    </mat-horizontal-stepper>
</form>
