html{
    background-color: #f5f5f5;

}

body {
    padding-top: 60px;
    background-color: #f5f5f5;
}


button{
    cursor: pointer;
}
button:active,
button:focus{
    background-color: #f5f5f5;
}

.open>.dropdown-menu {
	display: block;
}

.no-padding{
    padding: 0;
}

.credentials{
    text-transform: capitalize;
}

.center{
    text-align: center;
}

/*quill*/

.ql-editor{
    background-color: white;
    min-height: 130px;
}

/*form*/

.ng-invalid:not(form) .ql-editor  {
    border-left: 5px solid #a94442; /* red */
}

.ql-editor:focus  {
    color: #464a4c;
    background-color: #fff;
    border: solid 1px;
    border-color: #5cb3fd;
    outline: 0;
}

input.ng-invalid  {
    border-left: 5px solid #a94442; /* red */
}
input.ng-valid.ng-dirty, .ng-valid .ql-editor {
    border-left: 5px solid #1ca900; /* green */
}


/*modal*/

@media (min-width: 576px) {

    .modal-dialog {
        margin: 22vh auto 5vh;
    }

}

button.close{
    order: 2;
}

.modal-header{
    background-color: #ffcd71;
    border-radius: 2px 2px 0 0;
}

.modal-title{
    color: white;
}