/* latin */
@font-face {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Alegreya Sans Regular'), local('AlegreyaSans-Regular'), url(https://fonts.gstatic.com/s/alegreyasans/v8/KYNzioYhDai7mTMnx_gDgsmBRJoLbs7X6hY7yFEc97Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}




html{
    background-color: #f5f5f5;
    font-family: Alegreya Sans !important;
}

h1, h2, h3, h4, h5, h6, a ,span, p {
    font-family: Alegreya Sans !important;
}

a{
    cursor: pointer;
}

body {
  padding-top: 60px;
  background-color: #f5f5f5 !important;
}




button{
    cursor: pointer;
}


.open>.dropdown-menu {
	display: block;
}

.no-padding{
    padding: 0 !important;

}

.credentials{
    text-transform: capitalize;
}

.center{
    text-align: center;
}

/*quill*/

.ql-editor{
    background-color: white;
    min-height: 130px;

}

.ql-editor p{
  font-size: 1rem;
  color: #fe5e38;
}

/*form*/

.ng-invalid:not(form) .ql-editor  {
    border-left: 5px solid #a94442; /* red */
}

.ql-editor:focus  {
    color: #464a4c;
    background-color: #fff;
    border: solid 1px;
    border-color: #5cb3fd;
    outline: 0;
}

input.ng-invalid.showvalidity  {
    border-left: 5px solid #a94442; /* red */
}
form input.showvalidity.ng-valid.ng-dirty, .ng-valid .ql-editor {
    border-left: 5px solid #1ca900; /* green */
}




/*modal*/

@media (min-width: 576px) {

    .modal-dialog {
        margin: 22vh auto 5vh;
    }

}

button.close{
    order: 2;
}

.modal-header{
    background-color: #ffcd71;
    border-radius: 2px 2px 0 0;
}

.modal-dialog input{
    max-width: 250px;
}

.modal-title{
    color: white;
}

.modal-body{
    overflow-x: auto;
}

.bloc-container{
    /*max-width: 460px;*/
    margin-left: auto;
    margin-right: auto;
}

@media( max-width: 767px) {
  .bloc-container{
    padding-top: 32px;
  }
}
@media( min-width: 767px) {
  .bloc-container{
  padding: 32px 32px 16px;
  }
}

.bloc{
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 16px;
    border: 1px solid rgba(0,0,0,.12) !important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0,0,0,.26) !important;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -khtml-background-clip: padding-box;
    background-clip: padding-box;
}

.bloc-title{
    border-bottom: 1px solid rgba(0,0,0,.12) !important;
    padding: 16px 16px 0;
    background-color: #fecd06;
    color: #4d4d4d;
}

.bloc-content{
    padding: 16px 16px 0;
}

/*SEARCH BAR*/

.ngui-auto-complete > ul li{
  cursor: default;
}



/* Bootstrap default */

.btn-primary-wc {
  color: #fff;
  background-color: #fe5e38;
  border-color: #fe5e38;
}



.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #fe5e38;
  outline: 0;
  /*box-shadow: 0 0 0 0.2rem rgba(254, 94, 56, 0.13);*/
  box-shadow: none;
}



.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(254, 94, 56, 0.13);
}

.btn-primary-wc:hover, .btn-primary-wc:focus {
  color: #fff;
  background-color: #f99178;
  border-color: #f99178;
}

.btn-edit {
  /*border: transparent;*/
  background-color: transparent;
  color: #868e96;
  border: none !important;

}

.btn-edit:hover, .btn-edit:focus{
  color: #3e3e3e;
  /*border: transparent;*/
  border: none !important;
  background-color: transparent;
}

.dropdown-item:active {
  background-color: #f99178 !important;
}



/*UPLOAD INPUT*/

upload{
  max-width: 100%;
}

/*pwd strength bar*/

password-strength-bar{
  text-align: center;
}
