<div class="col-md-10 col-md-offset-1">
    <div class="alert alert-info">
    </div>
    <h2>Programmation en masse</h2>
    <form name="form" (ngSubmit)="f.form.valid && submit(f)" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
            <label for="name">Nom de la programmation massive</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="entity.name" #name="ngModel" required />
            <div *ngIf="f.submitted && !name.valid" class="help-block">Le nom est obligatoire</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted }">
            <label for="blogs">Blogs</label>
            <select-blogs type="text" name="blog" [(blogs)]="entity.blogs" required ></select-blogs>
            <!--      
            <div *ngIf="f.submitted && !blog.valid" class="help-block">Selectionner au moins un blog</div>
            -->
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !isPage.valid }">
            <label for="isPage">La publication est :</label>
            <select class="form-control" class="form-control" name="isPage" [(ngModel)]="entity.isPage" #isPage="ngModel" required >
                <option value="1">Une page</option>
                <option value="0">Un article</option>
            </select>
            <div *ngIf="f.submitted && !isPage.valid" class="help-block">Le type, article ou page est obligatoire</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted  }">
            <label for="idLanguage">Langue</label>
            <select-language type="text" class="form-control" name="idLanguage" [(idLanguage)]="entity.idLanguage" required ></select-language>
            <!--
            <div *ngIf="f.submitted && !idLanguage.valid" class="help-block">la langue est obligatoire</div>
            -->
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted  }">
            <label for="idClient">Clients ayant une phrase Clef</label>
            <select-client [withClef]="true" class="form-control" name="idClient" [(client)]="entity.client" [(clef)]="keyForClient" required ></select-client>
            <!--
            <div *ngIf="f.submitted && !idClient.valid" class="help-block">le Client est obligatoiry</div>
            -->
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !totalNumberProgrammation.valid }">
            <label for="totalNumberProgrammation">Nombre de Programmations pour {{ keyForClient }} phrase clef</label>
            <input type="text" class="form-control" name="totalNumberProgrammation" [(ngModel)]="entity.totalNumberProgrammation" #totalNumberProgrammation="ngModel" required />
            <div *ngIf="f.submitted && !totalNumberProgrammation.valid" class="help-block">Le nombre total de programmations est obligatoire</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !neutralSentenceNumberMin.valid }">
            <label for="neutralSentenceNumberMin">Nombre minimum de phrases neutres</label>
            <input type="text" class="form-control" name="neutralSentenceNumberMin" [(ngModel)]="entity.neutralSentenceNumberMin" #neutralSentenceNumberMin="ngModel" required />
            <div *ngIf="f.submitted && !neutralSentenceNumberMin.valid" class="help-block">Le nombre minimum de phrases neutres est obligatoire</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !neutralSentenceNumberMax.valid }">
            <label for="neutralSentenceNumberMax">Nombre maximum de phrases neutres</label>
            <input type="text" class="form-control" name="neutralSentenceNumberMax" [(ngModel)]="entity.neutralSentenceNumberMax" #neutralSentenceNumberMax="ngModel" required />
            <div *ngIf="f.submitted && !neutralSentenceNumberMax.valid" class="help-block">Le nombre maximum de phrases neutres est obligatoire</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !anchorSentenceNumber.valid }">
            <label for="anchorSentenceNumber">Nombre de phrases ancres ( Deprecated )</label>
            <input type="text" class="form-control" name="anchorSentenceNumber" [(ngModel)]="entity.anchorSentenceNumber" #anchorSentenceNumber="ngModel" required />
            <div *ngIf="f.submitted && !anchorSentenceNumber.valid" class="help-block">Le nombre de phrases ancres est obligatoire</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !isBlank.valid }">
            <label for="isBlank">isBlank</label>
            <select class="form-control" name="isBlank" [(ngModel)]="entity.isBlank" #isBlank="ngModel" required >
                <option value="1">Oui</option>
                <option value="0">Non</option>
            </select>
            <div *ngIf="f.submitted && !isBlank.valid" class="help-block">Le isBlank est obligatoire</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !pause.valid }">
            <label for="pause">Temps de pause, en secondes, entre chaque programmation</label>
            <input type="text" class="form-control" name="pause" [(ngModel)]="entity.pause" #pause="ngModel" required />
            <div *ngIf="f.submitted && !pause.valid" class="help-block">Le temps de pause est obligatoire</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !titleOption.valid }">
            <label for="titleOption">Option du titre</label>
            <select name="titleOption" class="form-control" [(ngModel)]="entity.titleOption" #titleOption="ngModel" required>
                <option value="0">Titre seul</option>
                <option value="1">Phrase clef</option>
                <option value="2">Phrase clef : Titre</option>
            </select>
            <div *ngIf="f.submitted && !titleOption.valid" class="help-block">l'option du titre est obligatoire</div>
        </div>
        <div class="form-group">
            <button *ngIf="!edition" type="submit" [disabled]="loading" class="btn btn-primary">Ajouter</button> 
            <button *ngIf="edition" type="submit" [disabled]="loading" class="btn btn-primary">Modifier</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>
</div>