@import './../../../../../../assets/scss/variables.scss';

#possibleMatchesContainer{
  .row{
    .card-container{
      padding: 1rem;
      .card{
        padding: 2rem;
        .tagContainer{
          display: flex;
          flex-wrap: wrap;
          .tag{
            padding: 2px 6px;
            background-color: #d8d8d8;
            border-radius: 3px;
            margin: 2px 0px;
            margin-right: 6px;
          }
        }
      }
    }
  }

}

.bioContainer{
  padding: 1rem 2rem 0.5rem;
}

@media (min-width: 992px){
  #conversationColumn{
    position: fixed;
    right: 0;
  }
}

.imageContainer{
  border-radius: 2px;
}