@import './../../../../../../assets/scss/variables.scss';

#possibleMatchesContainer{
  .row{
    .card-container{
      padding: 1rem;
      .card{
        padding: 2rem;
        .tagContainer{
          display: flex;
          flex-wrap: wrap;
          .tag{
            padding: 2px 6px;
            background-color: #fecd06;
            border-radius: 3px;
            margin: 2px 0px;
            margin-right: 6px;
          }
        }
      }
    }
  }
}


.emptyCardsMessage{
  padding: 30px;
}

.bioContainer{
  padding: 1rem 2rem 0.5rem;
  text-align: justify;
  @media (max-width: 765px) {
    padding: 1rem 1rem 0.5rem;
  }
}

@media (min-width: 992px){
  #conversationColumn{
    position: fixed;
    right: 0;
  }
}

.imageContainer{
  border-radius: 2px;
}

.card {
  .btn{
    transition: color .10s ease-in-out, background-color .10s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .btn:focus,.btn:hover {
    background-color: #fecd06;
    color: #FF5722;
  }
}

#searchLoader {
  padding-top: 10px;
  svg{
    margin: auto;

  }
}
