<div id="possibleMatchesContainer" class="container-fluid">
    <div class="row">
        <div class="col-10">

            <div class="row">

                <div class="offset-1 col-10">

                    <div *ngIf="cards"  class="row"
                       infiniteScroll
		                  [infiniteScrollDistance]="4"
		                  [infiniteScrollThrottle]="50"
		                  (scrolled)="onScroll()"
                      (scrolledUp)="onScrollUp()" >

                        <div *ngFor="let card of cards" class="card-container col-12 col-sm-12 col-md-6 col-lg-6">

                            <div class="card">
                                <div class="titleContainer container-fluid">

                                    <div class="row">
                                        <div class="col-4 no-padding imageContainer" *ngIf="card[0].image">
                                            <img width="100%" src="{{avatarSrcBase}}{{card[0].image.filename}}" alt="">
                                        </div>
                                        <div class="col-8">
                                            <h5 class="">{{card[0].first_name}} {{card[0].last_name}}</h5>
                                            <div class="tagContainer" *ngIf="card[0].tags">
                                                <div class="tag" *ngFor="let tag of card[0].tags"><span>{{tag.name}}</span></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="bioContainer">
                                    <p class="">{{card[0].biographie}}</p>
                                </div>

                                <div>
                                    <button class="btn" (click)="openThread(card[0])">
                                       <i class="fa fa-comment"></i> Message
                                    </button>
                                </div>

                            </div>


                        </div>

                    </div>

                </div>

            </div>

        </div>
        <div id="conversationColumn" class="col-2">
            <chat-threads></chat-threads>
        </div>
    </div>

</div>

<div class="container">
    <chat-window></chat-window>
</div>
