<div class="row">
	<h1>Diagramme des recherches.</h1>
	<div class="form-group">
		<label for="recherches">Choisir une recherche.</label>
		<select id="recherches" placeholder="Recherches" [(ngModel)]="_recherche" (ngModelChange)="change($event)">
	   		<option *ngFor="let recherche of recherches" value="{{ recherche.id }}">{{ recherche.name }} : {{ recherche.recherche }}, {{ recherche.url }}</option>
		</select>
	</div>
</div>
<div class="row">
  <div class="col-md-6">
    {{ lineChartLabels.length }}
    <div style="display: block;">
    <canvas id="123" baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
               		></canvas>
    </div>
  </div>
</div>