/* body {
    background-color: #310c31;
} */

header {
    height: 100vh;
    background-image: url("../img/purplegroup.jpg");
    background-size: cover;
    background-position: center;
}

.nav-link {
    font-family: 'Cabin', sans-serif;
    color: #FFF !important;
    border-bottom: solid 3px transparent;
    margin-top: 3px;
}

.connexion {
    color: #ffc600 !important;
    font-weight: bold;
    border-bottom: none;
}

.nav-link:hover {
    color: #ffc600 !important;
    border-bottom: solid 3px #ffc600;
}

.connexion:hover {
    border-bottom: none;

}

.navbar {
    background-color: transparent !important;
}

form .btn {
    background-color: #ffc600;
}

.description h2 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 60px;
}

.link {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #ffc600;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -20px);
}

.line {
    height: 150px;
    width: 12px;
    background-color: #ffc600;
    z-index: 2;
    /* position: absolute;
    left: 50%;
    transform: translate(-50%,35px); */
}

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-line {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: #ffc600;
}

/* Scroll mouse */


/* .scroll-downs {
    position: absolute;
    right: 0;
    bottom: 0;

    margin: auto;
    
    width :34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 3px solid #ffc600;
    border-radius: 25px;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #ffc600;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  } */


/* About */


.about {
    background-color: #ffc600;
}

.about .title h3 {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    color: #310c31;
    font-weight: 800;
}

.about-description {
    padding-bottom: 200px;
    color: #310c31;
}

.about-description p {
    margin-bottom: 20px;
    font-size: 17px;
}

.about-description h4 {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
    font-weight: 800;


}

.process {
    background-color: #fff;

}

.order {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    background-color: #310c31;
}

.order p {
    margin-bottom: 0;
    color: #ffc600;
}

.card {
    border: none;
    background: #ffc600;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 200px;
    border-radius: 0;
}

.card-img-top {

    position: relative;
    height: 200px;
    display: flex;
    justify-content: center;
    width: 100%;

}

.card-body {
    background-color: #310c31;
    color: white;
}

.card .card-title {
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;

}

.card svg {
    width: 90px;
    height: 90px;
    fill: #310c31;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-img {
    width: 90px;
    height: 90px;
    fill: #310c31;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blip {
    height: 100px;
    width: 12px;
    background-color: #ffc600;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.bloup {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #ffc600;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 75px);
}


/* who */

.who {
    /* position: sticky;
    top: 0; */
    background-color: #310c31;
    color: white;
}

.who-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.who h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 70px;
    padding-bottom: 100px;

}

.who-background-picture {
    display: flex;
    justify-content: end;
    animation-name: fromleft;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.76, 0, .52, 1.01);
    height: 100vh;
    background-color: #ffc600;
}

.who-picture {
    height: 100vh;
    background-image: url("https://www.stevensegallery.com/700/1000");
    width: 100%;
    animation: opacity;
    animation-duration: 1.4s;
}

.who img {
    height: 100vh;

}


@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 100%;

    }
}

@keyframes fromleft {
    from {
        width: 0;

    }

    to {
        width: 100%;

    }
}

.members {
    background-color: #ffc600;
    padding-top:200px;
    padding-bottom: 200px;
}

figure{
    background: #310c31;
}


figure:hover img {
    opacity: .3;
    filter: grayscale(100%);
    transition: .3s;
}

/* .overlay .background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#310c31;
  
  }
  
  .overlay:hover .background {
    opacity: 1;
  } */