<form (ngSubmit)="f.form.valid && login()" #f="ngForm" [ngClass]="f.submitted ? 'was-validated':''">
  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control showvalidity" name="email" [(ngModel)]="model.email" #email="ngModel" required pattern="{{pattern}}" />
    <div class="invalid-feedback">L'email n'est pas valide</div>
  </div>
  <div class="form-group">
    <label >Mot de passe</label>
    <input type="password" class="form-control showvalidity" name="password" [(ngModel)]="model.password" #password="ngModel" required />
    <div class="invalid-feedback">Le mot de passe est obligatoire</div>
  </div>
  <p><a href="" routerLink="/auth/password/email"> Mot de passe oublié?</a></p>
  <div class="form-buttons d-flex justify-content-between">
    <button type="button" id="signupButton" mat-raised-button color="primary" class="ml-auto mr-3" [routerLink]="subscribeLink">
      S'inscrire
    </button>
    <button type="submit" id="signinButton" mat-raised-button color="accent" [disabled]="loading" >
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Connexion
    </button>

  </div>
  <br>

</form>
