<nav class="navbar navbar-expand navbar-light sticky-top">
  <a class="navbar-brand" *ngIf="showReturn" [routerLink]="returnLink"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
  <a class="navbar-brand" *ngIf="!showReturn" routerLink="/dashboard/search"><img width="65px" src="assets/logo/wecolearn-w.svg" alt=""></a>
  <div *ngIf="showDiscussionUser" class="discussingUser">
    <div *ngIf="discussingUser$ | async as user" ><span>{{user.first_name}}&nbsp;{{user.last_name}}</span></div>
  </div>
  <ul class="nav navbar-nav ml-auto">
    <li dropdown id="parameters" class="btn-group nav-item d-inline-block">
      <a class="nav-link" id="dropdownParameters-button" dropdownToggle
         aria-controls="dropdownParameters-menu">
        <i class="fas fa-ellipsis-v">&nbsp;&nbsp;&nbsp;</i>
      </a>
      <ul *dropdownMenu aria-labelledby="dropdownParameters-button" id="dropdownParameters-menu"
          class="dropdown-menu  dropdown-menu-right" role="menu">
        <li role="menuitem"><a class="nav-link dropdown-item" routerLink="/dashboard/profile"><i class="fas fa-user"></i>Profil</a></li>
        <li role="menuitem"><a class="nav-link dropdown-item" routerLink="/dashboard/profile/settings"><i class="fas fa-user-cog"></i>Paramètres</a></li>
        <li role="menuitem"><a class="nav-link dropdown-item" (click)="logOut()"><i class="fas fa-sign-out-alt"></i>Déconnexion</a></li>
      </ul>
    </li>
  </ul>
</nav>



