<ion-toolbar >
  <ion-buttons slot="start">
    <ion-button *ngIf="showReturn" [routerLink]="returnLink">
      <mat-icon aria-hidden="true" >arrow_back</mat-icon>
    </ion-button>
    <ion-button *ngIf="!showReturn">
      <img width="50px" src="assets/logo/wecolearn-w.svg" alt="">
    </ion-button>
  </ion-buttons>
  <ion-title *ngIf="title && !showDiscussionUser">{{title}}</ion-title>
  <ion-title *ngIf="showDiscussionUser">
    <ng-container *ngIf="discussingUser$ | async as threadName">
      {{threadName}}
    </ng-container>
  </ion-title>
  <ion-buttons slot="end" *ngIf="showSettings">
    <ion-button id="parametersLink" [routerLink]="settingsLink">
      <mat-icon aria-hidden="true" aria-label="Paramètres">settings</mat-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
