<mat-toolbar>
  <mat-toolbar-row>
    <a *ngIf="showReturn" [routerLink]="returnLink"><mat-icon aria-hidden="true">arrow_back</mat-icon></a>
    <img *ngIf="!showReturn" width="50px" src="assets/logo/wecolearn-w.svg" alt="">
    <span class="toolbar-spacer"></span>
    <div *ngIf="showDiscussionUser" class="discussingUser">
      <div *ngIf="discussingUser$ | async as threadName" ><span>{{threadName}}</span></div>
    </div>
    <div *ngIf="title" class="title">
      <span>{{title}}</span>
    </div>
    <span class="toolbar-spacer"></span>
    <a *ngIf="showSettings" routerLink="/dashboard/profile/settings"><mat-icon aria-hidden="true" aria-label="Paramètres">settings</mat-icon></a>
  </mat-toolbar-row>
</mat-toolbar>
