<div id="aboutPage" class="container-fluid">

  <div class="col-12">
    <div class="row center">
      <div id="imageContainer">
        <img width="65px" src="{{webPath}}logo/wecolearn.png" alt="">
      </div>
    </div>
      <div class="col-8 offset-2 center text-justify">
        <div class="row">
          <p>
            WeColearn est une application web pour matcher des apprenants par compétence, goût de l’apprentissage et façon d’être.
            <br>
            En spécifiant tes centres d’intérêt, tu te verra proposé des personnes dans ton entourage avec qui apprendre.
          </p>
        </div>
        <br>
        <div class="row">
           <h3>
             Pourquoi une telle application ?
           </h3>
        </div>
        <div class="row">
          <p>
            Le numérique a permis une démocratisation de l'accès à l'information et on voit actuellement un impressionnant développement des solutions de e-learning. Cela permet un apprentissage moins coûteux, car moins de besoins matériel et un accès direct aux ressources pédagogiques mais tend à isoler les apprenants dans leur apprentissage ce qui est une source de démotivation.
            L'objectif d'une application de matching est de sortir les apprenants de leur isolement et leur faire rencontrer des camarades pour qu'ils apprennent en groupe.
          </p>
        </div>
        <br>
        <div class="row">
          <h3>
            Des questions ?  :)
          </h3>
        </div>
        <div class="row">
          <p>
            Envoie-nous un mail à contact@wecolearn.com
          </p>
        </div>
      </div>

  </div>

</div>

