img {
  margin: 20px;
  width: 180px;
}

//.isMobile {
//  img {
//    width: 180px;
//  }
//}
//:not(.isMobile) {
//  img {
//    width: 130px;
//  }
//}

.mainContainer-content {
  min-height: calc(100vh - 65px - 197px);
}

ion-footer {
  position: fixed;
  bottom: 0;
}

//.header-space {
//  // size of header
//  height: 56px;
//}
