<section *ngIf="!isMobile && isNotLandingPage">
  <div class="container-fluid">
    <div class="row">
      <div class="brand">
        <a [routerLink]="landingPage"><img src="assets/logo/wecolearn-logo-black.svg" alt=""/></a>
      </div>
    </div>
  </div>
</section>

<div *ngIf="isMobile && !isAndroid && isNotLandingPage">
  <app-header-mobile></app-header-mobile>
</div>

<div class="mainContainer-content" *ngIf="!isAndroid">
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
<main-footer *ngIf="showMainFooter | async"></main-footer>

<ion-header *ngIf="isAndroid">
  <app-header-mobile></app-header-mobile>
</ion-header>
<router-outlet *ngIf="isAndroid" (activate)="onActivate($event)"></router-outlet>
