<div class="Tags">
  <div class="Tags-list" [hidden]="editTagFormVisible">
    <div class="Tags-list-header">
      <h2>
        Apprentissages
      </h2>
      <form [formGroup]="searchFilters">
        <mat-radio-group formControlName="type">
          <mat-radio-button value="0" >Apprentissage</mat-radio-button>
          <mat-radio-button value="1" >Connaissance</mat-radio-button>
          <mat-radio-button value="2" >Transmission</mat-radio-button>
        </mat-radio-group>
        <mat-form-field appearance="outline">
          <mat-label>Rechercher</mat-label>
          <input matInput placeholder="nom, domaine" formControlName="query" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
    </div>
    <div class="Tags-list--loading" *ngIf="!loaded">
      <mat-spinner></mat-spinner>
    </div>
    <div class="Tags-list-table">
      <app-tag-list
        *ngIf="tagsToShow"
        [canEditTag]="canEditTag$ | async"
        [tags]="tagsToShow"
        (editTag)="showEditForm($event)"
      ></app-tag-list>
      <mat-paginator
        [hidden]="!tagsToShow && !tagsFiltered"
        [length]="countTags"
        [pageSize]="PAGE_SIZE"
        [showFirstLastButtons]="true"
      ></mat-paginator>
    </div>
  </div>
  <div
    class="Tags-add"
  >
    <button mat-flat-button class="large" *ngIf="!editTagFormVisible" (click)="showEditForm()" color="primary">
      + Ajouter un apprentissage
    </button>
    <div *ngIf="editTagFormVisible">
      <h2 *ngIf="isCreatingTag">
        Ajouter un apprentissage
      </h2>

      <h2 *ngIf="!isCreatingTag">
        Modifier un apprentissage
      </h2>

      <div class="Tags-form">
        <app-tag-form
          [isCreating]="isCreatingTag"
          [tag]="editedTag"
          [groupEditable]="true"
          (onCloseEditTag)="closeTagForm()"
        ></app-tag-form>
      </div>

      <h2 *ngIf="!isCreatingTag">
        Fusionner avec un autre apprentissage
      </h2>
      <div *ngIf="!isCreatingTag" class="Tags-form">
        <app-tag-merge-form
          [tag]="editedTag"
          (onCloseEditTag)="closeTagForm()"
        >
        </app-tag-merge-form>
      </div>
  </div>
</div>
