<div class="container-fluid">
    <div class="row">
        <div class="empty-col left col-sm-1 col-md-2"></div>
        <div class="col-12 col-sm-10 col-md-8 center no-padding">
            <h1>Ma Reco</h1>

            <div id="subtitle">
                <h4>Parce qu'une recommandation vaut tous les CVs !</h4>
            </div>

            <img src="{{imagePath}}/passrhonealpesimg.jpg" alt="">

            <div class="container-fluid">
                <div id="intro" class="row center">
                    <div class="col-10 offset-1">
                        <p >
                            <i>
                            Ici, les employeurs peuvent recommander leurs anciens collaborateurs, les
                            chercheurs voient leurs compétences et aptitudes reconnues, les recruteurs sont
                            rassurés.
                            </i>
                        </p>
                    </div>
                </div>


                <div id="homerecolink" class="row center">
                    <div class="col-10 offset-1">
                        <h4>Vous souhaitez solliciter ou rédiger une recommandation ?
                            <!--<i class="fa fa-long-arrow-right" aria-hidden="true">-->
                            <!--</i>-->
                        </h4>
                            <a class="btn" href="http://www.mag-photos.fr/passrhonealpes/">Contactez-nous !</a>
                    </div>
                </div>

                <div class="row center" id="passDescription">
                    <div class="col-1"></div>
                    <div  class="col-5 center">
                        <p>Ce site est géré par le PASS, ONG indépendante. </p>
                    </div>
                    <div id="homeimagepass" class="col-5 center">
                        <a href="http://www.mag-photos.fr/passrhonealpes/">
                         <img src="{{imagePath}}/homeimagepass.png" alt="">
                        </a>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
        <div class="empty-col right col-sm-1 col-md-2"></div>
    </div>
</div>

