<section *ngIf="!isMobile">

    <div class="container">
      <h1 class="center">Inscription</h1>
      <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <profile-onboarding></profile-onboarding>
            </div>
        </div>
    </div>

</section>


<!--<section *ngIf="isMobile && !isAndroidApp" class="mobile">-->
<!--    <profile-onboarding-mobile></profile-onboarding-mobile>-->
<!--</section>-->

<section *ngIf="isMobile">
  <profile-onboarding-mobile></profile-onboarding-mobile>
</section>

