@import './../../../../../assets/scss/variables.scss';


#homeBgImageContainer{
  background-color: #aab2b0;
  #homeBgImage{
    height: 456px;
    width: 100%;
    background-position: center -108px;
    @media (min-width: 1000px) {
      height: 376px;
      width: 100%;
      background-position: center -240px;
    }
    @media (max-width: 768px) {
      background-position: center 0px;
      height: 596px;
      padding-top: 65px;
    }
    h3{
      @media (max-width: 768px) {
        padding-top: 65px;
      }
      color: $mainOrange;
      padding-top: 69px;
      font-weight: 800;
      margin-bottom: 0;
    }
    margin: auto;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

#tagLinksContainer{
  display: flex;
  padding: 12px 0;
  text-align: center;
  @media (max-width: 768px) {
    flex-wrap: wrap;
  }
  .tagLink{
    @media (max-width: 768px) {
      margin: 5px 1px;
    }
    flex-grow: 1;
  }
}

.btn-primary{
  color: $mainOrange;
  background-color: #ffffff;
  border-color: #ffffff;
}

.social-icons {
  margin: 1em 0 1em;
  a{
    padding: 4px 8px;
  }
}

.presentation-row{
  article{
    display: flex;
    svg{
      width: 50px;
      margin: 10px;
    }
    p{
      font-size: 1.1rem;
      //margin-top: 0.8rem;
      margin-top: auto;
      margin-bottom: auto;
    };
  }
  background-color: #ececec;
  padding: 30px 0;
  //li{
  //}
}
.social-icons-row {
  background-color: #d6d6d6;
}


