@import './../../../../../assets/scss/variables.scss';


#homeBgImageContainer{
  background-color: #aab2b0;
  #homeBgImage{
    height: 376px;
    h1{
      color: #fb6532;
      padding-top: 89px;
      font-weight: 800;
      margin-bottom: 0;
    }
    width: 100%;
    max-width: 1000px;
    margin: auto;
    background-position: center -108px;
  }
}

#tagLinksContainer{
  display: flex;
  padding: 12px 14vw;
  text-align: center;
  .tagLink{
    flex-grow: 1;
  }
}