<section class="AdminCommunitySettings" *ngIf="loaded">
  <h1 class="center">Paramètres de la communauté</h1>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-6">
        <form [formGroup]="communityForm">
          <div class="AdminCommunitySettings-imageUpload">
            <label>Image de la communauté</label>
            <app-upload-form-image [parentForm]="communityForm" url="/api/community-admin/uploadCommunityImage" ></app-upload-form-image>
          </div>
          <hr>
          <div class="AdminCommunitySettings-name">
            <label>Nom de la communauté</label>
            <mat-form-field appearance="fill" >
              <input id="communityNameInput" matInput appHideMenuMobileOnFocus formControlName="name" >
            </mat-form-field>
            <button mat-raised-button color="primary" type="button" (click)="changeName()" [disabled]="!communityNameControl.dirty">Enregistrer le changement</button>
          </div>
          <hr>
          <div class="AdminCommunitySettings-link" >
            <label>Lien d'invitation à la communauté</label>
            <mat-form-field appearance="outline" *ngIf="hasLink">
              <input id="communityLinkInput" [disabled]="true" matInput formControlName="link" >
            </mat-form-field>
            <button *ngIf="hasLink" mat-raised-button color="primary" type="button" (click)="changeNewInviteLink()">Générer un nouveau lien d'invitation</button>
            <button *ngIf="!hasLink" mat-raised-button color="primary" type="button" (click)="changeNewInviteLink()">Générer un lien d'invitation</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
