section {
  height: 100%;
  background-color: white;
  padding-bottom: 30px;
  padding-top: 30px;
  h1 {
    padding: 20px 0 30px;
  }
}

.AdminCommunitySettings{
  &-imageUpload {
    display: flex;
    justify-content: space-between;
  }
  &-name, &-link {
    display: flex;
    flex-direction: column;
  }

}
