<div id="communitiesPage" class="container-fluid">

  <div class="col-12">
    <div class="row center">
      <h3>
        LES COMMUNAUTES WECOLEARN
      </h3>
    </div>
      <div class="col-8 center text-justify">
        <div class="row">
          <p>
            Liste des communautés utilisant l'application WeColearn pour connecter les apprenants entre eux.
          </p>
        </div>
        <div class="row">
          <!--<community *ngFor="community as communities"></community>-->
        </div>
      </div>

  </div>

</div>

