@import 'variables';
@import "extendables";


.card{
  text-align: center;
  box-shadow: 0px 5px 25px #c6c5c5;
  border: solid 1px $primaryColor;
  border-radius: 5px;

  &-header {
    padding: 65px 0 20px 0;
    background-color: white;
    border-bottom: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &-title{
    padding: 20px;
    margin-bottom: 0;
  }

  &-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 136px;
  }

  &-footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-top: none;
  }

  &-img-top{
    height: 100px; // 200px when bg upload ready
    object-fit: cover;
  }
  &-text {
    padding: 0 20px 0 20px;
  }
}

.profil-img {
  width: 130px;
  position:absolute;
  left:50%;
  transform: translate(-50%);
  padding-top: 35px; // 135px when bg upload ready
}
.profil-img img{
  border-radius:50%;
  height: 130px;
  width: 130px;
  object-fit: cover;
}

.learning {
  background-color: #310c31;
  padding: 20px 0 0 0;
  &-title {
    padding:0 20px 0 20px;
    color: #fff !important;
  }
  &-tags {
    @extend %wc-horizontal-thin-scroll-bar;
    display:flex;
    height: 57px;
    overflow-x: auto;
    overflow-y: hidden;
    list-style: none;
    margin:0;
    justify-content: center;
    &-badgeContainer {
      padding: 5px;
      .badge {
        cursor: pointer;
      }
    }
  }
  //&-tags li{
  //  border:2px;
  //  color: #ffc600;
  //  font-size: 18px;
  //  padding: 5px;
  //}
}

.tags p {
  margin-bottom: 0;
}

.badge {
  &:not(.isSearchTag) {
    color: #ffc600;
  }
  display: flex;
  height: 31px;
  align-items: center;
  padding:8px;
  border: solid 0.5px;
  &.isSearchTag, &.isProfileTag {
    color: white;
    border-color: white;
  }
}



