    <div *ngIf="subDomain === 'main'" class="row center">
        <div id="homeBgImageContainer" class="col-12 no-padding">
            <div id="homeBgImage" class="mainBg" [ngStyle]="homeBgImageStyle" >
                <div *ngIf="!screen" class="imageContainer">
                    <img width="65px" src="{{webPath}}logo/wecolearn.png" alt="">
                </div>
                <h3>Apprenez <br> ce que <b>vous</b> voulez, <br> avec qui voulez !</h3>
                <br><br>
                <a class="btn btn-inscription btn-primary btn-lg " routerLink="/subscribe">Inscription</a>
                <div *ngIf="!screen" style="color: white; font-weight: 700;">
                    <br>
                    <br>
                    Déjà membre ? <a class="" routerLink="/login">Je me connecte</a>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="subDomain !== 'main'" class="row center">
      <div id="homeBgImageContainer" class="col-12 no-padding">
        <div id="homeBgImage" [ngStyle]="homeBgImageStyle" >
          <div class="filterBg">
            <div *ngIf="!screen" class="imageContainer">
              <img width="65px" src="{{webPath}}logo/wecolearn.png" alt="">
            </div>
            <h3>
              Connecte-toi aux autres membres de l'association des Bricodeurs pour monter en compétences avec eux ! :)
              <br>
              Si ce n'est pas encore fait, <a href="https://www.helloasso.com/associations/les-bricodeurs/adhesions/adhesions-bricodeurs-2016">adhère à l'association</a> et
              <a href="https://join.slack.com/t/bricodeurs/shared_invite/enQtMjk4MDg1NTIxMDI4LWU1MjRhMjlmYmYyYmM3MGRhNjg3YjIzMGRiMzk0YjE4OTYyYzUxZWFkMDE1MTZiZTRiOTBhYTA4YTQ5YTA2NTY">rejoins-nous sur slack</a> !
            </h3>
            <br><br>
            <a class="btn btn-inscription btn-primary btn-lg " routerLink="/subscribe">Inscription</a>
            <div *ngIf="!screen" style="color: white; font-weight: 700;">
              <br>
              <br>
              Déjà membre ? <a class="" routerLink="/login">Je me connecte</a>
            </div>
          </div>

        </div>
      </div>
    </div>


    <section class="row presentation-row">
        <div class="col-12 col-sm-6 offset-sm-3 col-md-4 offset-md-4">
          <article>

            <span>
             <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <g transform="matrix(1.25 0 0 -1.25 0 45)">
                  <g>
                    <g>
                      <path d="M409.6-328.089c0-25.134-20.378-45.511-45.511-45.511H45.511C20.378-373.6,0-353.222,0-328.089
                        V-9.511C0,15.622,20.378,36,45.511,36h318.578C389.222,36,409.6,15.622,409.6-9.511V-328.089z"/>
                      <path style="fill:#FFFFFF;" d="M187.301-91.147h-20.81c-16.93,0-23.996,12.345-23.996,24.337
                        c0,12.356,8.818,24.348,23.996,24.348h50.085c15.178,0,23.643-10.934,23.643-25.042v-200.738
                        c0-17.647-11.287-27.511-26.465-27.511c-15.167,0-26.453,9.865-26.453,27.511V-91.147z"/>
                    </g>
                  </g>
                </g>
             </svg>
          </span>
          <span>
            <img src="{{webPath}}home/search2.png" alt="">
          </span>
            <br>
            <p>
              Recherche des membres qui souhaitent apprendre des choses similaires
            </p>
          </article>
          <article>
              <span>
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
          <g transform="matrix(1.25 0 0 -1.25 0 45)">
            <g>
              <g>
                <path d="M409.6-328.089c0-25.134-20.378-45.511-45.511-45.511H45.511C20.378-373.6,0-353.222,0-328.089
                  V-9.511C0,15.622,20.378,36,45.511,36h318.578C389.222,36,409.6,15.622,409.6-9.511V-328.089z"/>
                <path style="fill:#FFFFFF;" d="M262.713-247.42c15.531,0,27.534-7.054,27.534-23.279c0-16.236-12.004-23.29-25.407-23.29H147.012
                  c-15.531,0-27.511,7.054-27.511,23.29c0,7.396,4.574,13.756,8.101,17.988c29.286,34.918,61.042,66.674,87.848,105.483
                  c6.349,9.17,12.356,20.105,12.356,32.802c0,14.461-10.934,27.17-25.407,27.17c-40.573,0-21.174-57.151-55.034-57.151
                  c-16.93,0-25.759,11.992-25.759,25.748c0,44.453,39.515,80.077,82.91,80.077s78.313-28.57,78.313-73.375
                  c0-49.027-54.67-97.724-84.662-135.464H262.713z"/>
              </g>
            </g>
          </g>
          </svg>
          </span>
            <span>
            <img src="{{webPath}}home/echange2.png" alt="">
          </span>
            <br>
            <p>
              Echange avec eux
            </p>
          </article>

          <article>
            <span>


              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
              <g transform="matrix(1.25 0 0 -1.25 0 45)">
              <g>
              <g>
              <path d="M409.6-328.089c0-25.134-20.378-45.511-45.511-45.511H45.511C20.378-373.6,0-353.222,0-328.089
              V-9.511C0,15.622,20.378,36,45.511,36h318.578C389.222,36,409.6,15.622,409.6-9.511V-328.089z"/>
              <path style="fill:#FFFFFF;" d="M274.318-103.105c0-22.232-9.512-41.631-28.922-53.976c25.395-11.651,43.031-35.283,43.031-63.147
              c0-42.337-38.798-77.961-88.895-77.961c-52.213,0-84.662,38.445-84.662,66.321c0,13.756,14.461,23.632,27.159,23.632
              c23.996,0,18.352-41.279,58.209-41.279c18.352,0,33.166,14.108,33.166,32.814c0,49.391-59.972,13.05-59.972,54.682
              c0,37.035,50.085,11.992,50.085,51.143c0,13.414-9.512,23.643-25.395,23.643c-33.508,0-28.922-34.566-52.918-34.566
              c-14.461,0-22.926,13.05-22.926,26.101c0,27.511,37.751,57.151,76.902,57.151C249.981-38.547,274.318-75.593,274.318-103.105"/>
              </g>
              </g>
              </g>
              </svg>
            </span>
            <span>
            <img src="{{webPath}}home/discussion2.png" alt="">
          </span>
            <br>
            <p>
              Rencontrez-vous en vrai !
            </p>

          </article>

         </div>
    </section>

    <div class="row social-icons-row">
        <div class="col-10 offset-1 center">
            <div class="social-icons">
                <a href="https://twitter.com/WeColearn" title="WeColearn on Twitter" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
                <a href="https://facebook.com/WeColearn" title="Wecolearn on Facebook" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                <!--<a href="https://github.com/wecolearn" title="Wecolearn on Github" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>-->
            </div>
        </div>
    </div>
