@import 'variables';

//ion-content {
//  background-color: $mainBgColor;
//}

ion-footer {
  position: fixed;
  bottom: 0;
}

ion-header {
  position: fixed;
  top: 0;
}


.header-space {
  // size of header
  height: 56px;
}

.footer-space {
  // size of footer
  height: 46px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding-left: 250px;
  transition: .6s;
  height: 100vh;
  overflow: hidden;
}


@media ( max-width: $smScreen ) {
  #page-content-wrapper {
    padding-left: 80px;
  }
}

.activated#page-content-wrapper {
  padding-left: 80px;
}
