<div id="wrapper" *ngIf="!isMobile">
  <dash-menu></dash-menu>
  <div id="page-content-wrapper">
    <dash-header></dash-header>
    <router-outlet></router-outlet>
  </div>
</div>

<ion-header *ngIf="showMobileHeader | async">
  <app-header-mobile ></app-header-mobile>
</ion-header>
<div *ngIf="showMobileHeader | async" class="header-space"></div>
<router-outlet *ngIf="isMobile" (activate)="onActivate($event)"></router-outlet>
<div *ngIf="showMobileFooter | async" class="footer-space"></div>
<ion-footer *ngIf="showMobileFooter | async" class="ion-no-border">
  <app-footer-mobile></app-footer-mobile>
</ion-footer>
