

$mainOrange : var(--main-color-1);
$mainYellow: var(--main-color-2);

$mainBgColor : #f5f5f5;
$basicBorderColor : #e6e6e6;

.mainColor1{
  color: $mainOrange;
}


$headerHeight: 60px;

//profil page

$profilInfoWidth : 20%;


//homepage

$homeborder : #b8b2b2;
$homecolbg : #fffaf3;


//SCREENS


$smScreen : 768px;



// backgrounds

.gradient_background_mainYellow {
  background-color: var(--main-color-2-light-10);
  background: -moz-linear-gradient(-45deg, #fefcea 0%, var(--main-color-2-light-10) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #fefcea 0%,var(--main-color-2-light-10) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fefcea 0%, var(--main-color-2-light-10) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}