
html{
  --main-color-1: #501B4A;
  --main-color-1-light-5: #63215c;
  --main-color-1-light-10: #76286d;
  --main-color-1-light-15: #892e7f;
  --main-color-1-dark-5: #3d1538;
  --main-color-1-dark-10: #2a0e27;
  --main-color-1-dark-15: #170815;

  --main-color-2: #ffc52d;
  --main-color-2-light-5: #ffcc47;
  --main-color-2-light-10: #ffd360;
  --main-color-2-light-15: #ffda7a;
  --main-color-2-dark-5: #ffbe14;
  --main-color-2-dark-10: #f9b400;
  --main-color-2-dark-15: #e0a200;
}

:root {
  --ion-color-primary: #501B4A;
  --ion-color-primary-rgb: 80,27,74;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #461841;
  --ion-color-primary-tint: #62325c;

  --ion-color-secondary: #ffc52d;
  --ion-color-secondary-rgb: 255,197,45;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #e0ad28;
  --ion-color-secondary-tint: #ffcb42;
}

$primaryColor : var(--main-color-1);
$secondaryColor: var(--main-color-2);

$mainFont: ralewayregular, OpenSansSerif, sans-serif;
$titleFont: ralewaybold, OpenSansSerif, sans-serif;
$bigTitleFont: ralewayblack, OpenSansSerif, sans-serif;

$learnColor : var(--main-color-1);
$knowColor : var(--main-color-2);
$teachColor : #00FF53;

$mainBgColor : #f5f5f5;

$dashboardMobileBg : #ffffff;

$basicBorderColor : #e6e6e6;

.mainColor1{
  color: $primaryColor;
}


$headerHeight: 60px;

//profil page

$profilInfoWidth : 20%;


//homepage

$homeborder : #b8b2b2;
$homecolbg : #fffaf3;


//SCREENS


$smScreen : 768px;
$mdScreen : 992px;
$lgScreen: 1400px;

@mixin screenSize($point) {

  @if $point == "small" {
    @media (max-width: #{$smScreen}) { @content; }
  }
  @else if $point == "medium" {
    @media (max-width: #{$mdScreen}) { @content; }
  }
}
