

$mainOrange : var(--main-color-1);
$mainYellow: var(--main-color-2);




$mainBgColor : #f5f5f5;
$basicBorderColor : #e6e6e6;


//profil page

$profilInfoWidth : 20%;


//homepage

$homeborder : #b8b2b2;
$homecolbg : #fffaf3;


//SCREENS


$smScreen : 768px;
