<h2 class="center">Mentions Légales</h2>

<main id="main-wrapper" class="col-md-10 offset-md-1" role="main">
    <article id="post-94" class="page-single post-94 page type-page status-publish hentry">
        <div class="post-content">
            <p>
                <span style="color: #000000;">Tout accès au site Internet www.ma-reco.fr et/ou toute recherche effectuée sur ledit site, et/ou toute utilisation dudit site et /ou tout téléchargement d’une partie du contenu dudit site par l’utilisateur vaut acceptation des Conditions d’Utilisation du site Internet www.ma-reco.fr , telles que définies ci après :
                    <br>
                </span>
                <span style="color: #000000;">
                    <br>
                    <strong>1. Droit de propriété intellectuelle</strong>
                </span>
            </p>
            <p>
                <span style="color: #000000;">Ce site est la propriété de <strong>PASS Plan d’Action sur Site</strong> (appelés ici “<strong>PASS</strong>”) regroupés en tant que Association. Le site www.ma-reco.fr est édité et exploité par “<strong>PASS</strong>” dans le cadre de la mise en commun des moyens matériels nécessaires à l’exercice de leur profession.</span>
            </p>
            <p><span style="color: #000000;">La présentation et chacun des éléments, y compris les marques, logos et noms de domaine, apparaissant sur le site www.ma-reco.fr (ci-après “le Site”), sont protégés par les lois en vigueur sur la propriété intellectuelle.
                <br>
            </span>
                <span style="color: #000000;">
                    <br> Aucun élément composant le site www.ma-reco.fr ne peut être copié, reproduit, modifié, réédité, chargé, dénaturé, transmis ou distribué de quelque manière que ce soit, sous quelque support que ce soit, de façon partielle ou intégrale, sans l’autorisation écrite et préalable de “PASS” à l’exception d’une stricte utilisation pour les besoins de la presse et sous réserve du respect des droits de propriété intellectuelle et de tout autre droit de propriété dont il est fait mention. Seule la copie à usage privé est autorisée pour un usage personnel, privé et non-commercial.
                    <br>
                </span>
                <span style="color: #000000;"><br> La mention suivante doit notamment apparaître sur toute copie autorisée de tout ou partie du contenu du Site: “Copyright 2011 <strong>PASS Plan d’Action sur Site</strong> tous droits réservés” accompagnée d’un lien pointant vers le site www.ma-reco.fr
                    <br>
                </span>
                <span style="color: #000000;"><br> Toute utilisation autorisée des éléments composant ou figurant dans le site doit se faire sans dénaturation, modification ou altération de quelque manière que ce soit.
                </span>
            </p>
            <p>
                <span style="color: #000000;">“<strong>PASS</strong>” se réserve le droit de poursuivre tout acte de contrefaçon de ses droits de propriété intellectuelle.<br>
                </span>
                <span style="color: #000000;"><br> <strong>2. Liens vers d’autres sites</strong>
                </span>
            </p>
            <p>
                <span style="color: #000000;">‘<strong>PASS</strong>’ n’exerce aucun contrôle quant au contenu des sites tiers. L’existence d’un lien hypertexte entre le site Internet www.ma-reco.fr et un site tiers ne signifie pas que&nbsp; ‘<strong>PASS</strong>’ assume une quelconque garantie et responsabilité quant à son contenu ou l’usage qui peut en être fait.
                </span>
            </p>
            <p>
                <span style="color: #000000;">Il incombe à l’utilisateur de prendre les précautions nécessaires pour s’assurer de l’absence de virus sur le site visité.
                </span>
            </p>
            <p>
                <span style="color: #000000;">Il est interdit, sans l’accord écrit et préalable de “<strong>PASS</strong>”, à tout utilisateur du site Internet www.ma-reco.fr de créer, sur n’importe quel autre site Internet, tout lien hypertexte y compris un lien hypertexte dit “profond” avec une page du site Internet www.ma-reco.fr et de le combiner avec la technique du “framing” ou toute autre technique similaire permettant de renvoyer directement aux pages secondaires du site Internet www.ma-reco.fr sans passer par sa page d’accueil.
                    <br>
                </span>
                <span style="color: #000000;"><br> <strong>3. Informations nominatives et autres informations</strong>
                </span>
            </p>
            <p>
                <span style="color: #000000;"><strong>3.1</strong> “<strong>PASS</strong>” ne divulguera pas à des tiers, les données personnelles vous concernant que vous pourriez leur communiquer par le moyen de la messagerie électronique. Elles ne seront utilisées que dans le but de vous répondre le plus efficacement possible.
                </span>
            </p>
            <p>
                <span style="color: #000000;">Conformément à la “Loi n°2004-801 du 6 août 2004, Loi relative à la protection des personnes physiques à l’égard des traitements de données personnelles et modifiant la loi n°78-17 du 06 janvier 1978 relative à l’informatique, aux fichiers et aux libertés”, vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données personnelles qui vous concernent. Pour cela, il suffit d’en faire la demande :
                </span>
            </p>
            <p>
                <span style="color: #000000;"><strong>PASS Plan d’Action sur Site</strong>
                    <br> contact@pass-rhonealpes.fr
                </span>
            </p>
            <p>
                <span style="color: #000000;">Le Site Internet www.ma-reco.fr n'est pas destiné à recevoir des utilisateurs des informations à caractère confidentiel. <br>
                </span>
                <span style="color: #000000;"><br> <strong>3.2 PASS</strong>
                </span>
                <span style="color: #000000;"> s’engage à ne recueillir aucunes informations (adresses Ip et cookies) susceptibles d’identifier l’origine et/ou l’identité des visiteurs.<br>
                </span>
                <span style="color: #000000;"><br> <strong>4 . Responsabilités </strong>
                </span>
            </p>
            <p>
                <span style="color: #000000;">Les informations qui sont communiquées sur l’ensemble des rubriques du site www.ma-reco.fr , ainsi que les faits ou événements directs ou indirects en découlant, ne pourront en aucun cas permettre la mise en cause de “<strong>PASS</strong>” et l’engagement de sa responsabilité à quelque titre que ce soit.
                </span>
            </p>
            <p>
                <span style="color: #000000;">L’utilisateur est seul responsable des dommages et préjudices, directs ou indirects, matériels ou immatériels dès lors qu’ils auraient pour cause, fondement ou origine un usage du Site par vous-même ou par toute personne autorisée par vous à utiliser ce Site. Par usage, il convient d’entendre tout usage du Site quel qu’il soit, frauduleux ou non frauduleux. Vous renoncez à toute réclamation ou action en justice relative à de tels dommages et préjudices, sur le fondement de la responsabilité contractuelle de “<strong>PASS</strong>” en sa qualité d’éditeur de ce Site ou sur tout autre fondement.</span></p>
            <p><span style="color: #000000;">Des liens hypertextes peuvent renvoyer vers d’autres sites que le Site. En cliquant sur ces liens, vous quittez le Site et aboutissez ainsi sur des sites sur lesquels&nbsp; “<strong>PASS</strong>” n’exerce aucun contrôle. En conséquence, cette dernière dégage toute responsabilité dans le cas où le contenu de ces sites contreviendrait aux dispositions légales et réglementaires en vigueur.</span></p>
            <p><span style="color: #000000;">En outre, il est rappelé qu’aucun lien hypertexte ne peut renvoyer sur le Site www.ma-reco.fr sans l’autorisation préalable et expresse de “<strong>PASS</strong>”, éditeur du Site. A défaut d’autorisation, un tel lien est considéré comme constitutif du délit de contrefaçon, délit dont les peines ont d’ores et déjà été rappelées ci-dessus.</span></p>
            <p><span style="color: #000000;">“<strong>PASS</strong>” met en garde les personnes titulaires de l’autorité parentale sur la diversité et la nature des contenus disponibles sur le réseau Internet, lesquels peuvent être susceptibles de porter préjudice aux mineurs. Les parents sont donc encouragés à surveiller leurs enfants lorsqu’ils se connectent.<br> </span>
            <span style="color: #000000;"><br> <strong>5. Garantie de disponibilité du site Internet</strong></span></p>
            <p><span style="color: #000000;">Alors même que “<strong>PASS</strong>” a&nbsp; effectuée toutes les démarches nécessaires pour s’assurer de la fiabilité des informations, services, logiciels ou produits contenus sur ce site Internet, il ne sauraient être tenu pour responsable d’erreurs, d’omissions, de virus ou des résultats qui pourraient être obtenus par un mauvais usage de ceux-ci. “<strong>PASS</strong>” n’est en effet tenu que d’une simple obligation de moyens.</span></p>
            <p><span style="color: #000000;">L’utilisateur déclare et garantit qu’il connaît parfaitement les caractéristiques et les contraintes de l’Internet, et notamment que les transmissions de données et d’informations sur l’Internet ne bénéficient que d’une fiabilité technique relative, celles-ci circulant sur des réseaux hétérogènes aux caractéristiques et capacités techniques diverses, qui perturbent l’accès ou le rendent impossible à certaines périodes.</span></p>
            <p><span style="color: #000000;">“<strong>PASS</strong>” s’efforce de maintenir accessible le site www.ma-reco.fr 7 jours sur 7 et 24 heures sur 24, mais ne sont tenus à aucune obligation d’y parvenir. “<strong>PASS</strong> et/ou Leurs fournisseurs peut/peuvent donc en interrompre l’accès, notamment pour des raisons de maintenance et de mise à niveau. L’accès peut également être interrompu pour toute autre raison. “<strong>PASS</strong>” n’est en aucun cas responsable de ces interruptions et des conséquences qui peuvent en découler pour l’utilisateur ou tous tiers. Il est rappelé par ailleurs que “<strong>PASS</strong>” peut mettre fin ou modifier les caractéristiques du site www.ma-reco.fr à tout moment, et cela sans préavis.</span></p>
            <p><span style="color: #000000;">En aucun cas “<strong>PASS</strong>” ne saurait être tenu pour responsable d’une perte de données ou d’une détérioration liée à ces données. Toute information ou conseil fourni par le site www.ma-reco.fr ne saurait être interprété comme une quelconque garantie. Par ailleurs des liens hypertextes peuvent conduire à une consultation de sites extérieurs gérés par des tiers. Sur ces sites Internet externes, “<strong>PASS</strong>” n’a aucun contrôle et n’assume aucune responsabilité quant à leur contenu.<br> </span> <span style="color: #000000;"><br> <strong>6. Loi applicables – indépendance des clauses</strong></span></p>
            <p><span style="color: #000000;">Toute difficulté, réclamation ou litige provenant ou lié(e) aux présentes Conditions d’Utilisation sera régi(e) selon la loi française. En cas de litige, les tribunaux français seront seuls compétents.<br> </span> <span style="color: #000000;"><br> <strong>7. Mentions légales</strong></span></p>
            <p><span style="color: #000000;"><strong>7.1</strong> Responsables de l’édition et de la publication :</span></p>
            <p><span style="color: #000000;"><strong>PASS</strong><br> Eric Lafond<br> 2, Place Latarjet<br> 69008 Lyon<br> </span>
            <span style="color: #000000;"><br> <strong>7.2</strong></span> <span style="color: #000000;"> Responsable de la Rédaction :</span></p><p>
            <span style="color: #000000;"><strong>PASS</strong> Plan d’Action sur Site<br> Eric Lafond<br> 2, Place Latarjet<br> 69008 Lyon<br> </span> <span style="color: #000000;"><br> <strong>7.3</strong></span>
            <span style="color: #000000;"> Ce site est déclaré auprès de la Commission Nationale Informatique et libertés (CNIL – France) en application de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés. N° déclaration CNIL : en cours d’immatriculation</span>
        </p>
            <p>
            <span style="color: #000000;"><strong>7.4</strong> Hébergement Professionnel du Site :<br> https://aws.amazon.com/fr/<br> </span>
            <span style="color: #000000;">
            <br> <strong>8. Crédits photographiques et sources externes</strong></span>
            <span style="color: #000000;"><br> Sources personnelles et photographes cités</span><br>
        </p>
        </div>
    </article>
</main>





      
