<div class="SearchPage">
  <mat-progress-bar [class.hide]="!loading" mode="indeterminate"></mat-progress-bar>
  <div #pageContainer class="SearchPage-content"
       infinite-scroll
       [infiniteScrollDistance]="1"
       [infiniteScrollThrottle]="50"
       (scrolled)="onScroll($event)"
       [infiniteScrollDisabled]="!canScroll"
       [scrollWindow]="false"
  >
    <div class="SearchPage-searchBar">
      <app-searchbar-mobile (isActifEmitter)="searchBarIsActive = $event"></app-searchbar-mobile>
    </div>
    <ng-container *ngIf="!searchBarIsActive">
      <div [class.hide]="loading" class="SearchPage-message">
        <p *ngIf="profileComplete" [innerHTML]="searchMessage"></p>
        <ng-container *ngIf="!profileComplete">
          <p>Dites nous ce vous avez envie d'apprendre pour être mis en relation avec les bonnes personnes !</p>
          <button mat-raised-button color="primary" class="SearchPage-message-btn" [routerLink]="nav.profileSettings">Compléter mon profil</button>
        </ng-container>
      </div>
      <div *ngIf="cards.length > 0" class="SearchPage-cardsContainer align-items-stretch">
        <div class="SearchPage-cardsContainer-card" *ngFor="let card of cards">
          <app-card [showCity]="globalMode" [card]="card" [searchTag]="currentSearchTag"></app-card>
          <br>
        </div>
      </div>
    </ng-container>
  </div>
</div>
