<div class="SearchPage">
  <mat-progress-bar [class.hide]="!loading" mode="indeterminate"></mat-progress-bar>
  <div #pageContainer class="SearchPage-content"
       infinite-scroll
       [infiniteScrollDistance]="1"
       [infiniteScrollThrottle]="50"
       (scrolled)="onScroll($event)"
       [infiniteScrollDisabled]="!canScroll"
       [scrollWindow]="false"
  >
    <div class="SearchPage-searchBar">
      <app-searchbar-mobile (searchInputChange)="searchInput = $event"></app-searchbar-mobile>
    </div>
    <div [class.hide]="loading" class="SearchPage-message">
      <p [innerHTML]="searchMessage"></p>
    </div>
    <div *ngIf="cards.length > 0" class="SearchPage-cardsContainer align-items-stretch">
      <div class="SearchPage-cardsContainer-card" *ngFor="let card of cards">
        <app-card [card]="card"></app-card>
        <br>
      </div>
    </div>
  </div>
</div>
