<div class="SearchPage">
  <mat-progress-bar [class.hide]="!loading" mode="indeterminate"></mat-progress-bar>
  <div #pageContainer class="SearchPage-content"
       infinite-scroll
       [infiniteScrollDistance]="1"
       [infiniteScrollThrottle]="50"
       (scrolled)="onScroll($event)"
       [infiniteScrollDisabled]="!canScroll"
       [scrollWindow]="false"
  >
    <div class="SearchPage-searchBar">
      <app-searchbar-mobile (isActifEmitter)="searchBarIsActive = $event"></app-searchbar-mobile>
    </div>
    <ng-container *ngIf="!searchBarIsActive">
      <div [class.hide]="loading" class="SearchPage-message">
        <p [innerHTML]="searchMessage"></p>
      </div>
      <div *ngIf="cards.length > 0" class="SearchPage-cardsContainer align-items-stretch">
        <div class="SearchPage-cardsContainer-card" *ngFor="let card of cards">
          <app-card [card]="card" [searchTag]="currentSearchTag"></app-card>
          <br>
        </div>
      </div>
    </ng-container>

  </div>
</div>
