@import 'variables';
@import "extendables";

.SearchPage {
  background-color: $dashboardMobileBg;
  mat-progress-bar {
    &.hide {
      opacity: 0;
    }
  }

  &-searchBar {
    position: sticky;
    top: 0;
    z-index: 500;
    background-color: $dashboardMobileBg;
  }

  &-content {
    height: 100%;
    max-height: 100vh;
    padding: 0 10px 40px; // 40px to avoid being covered by footer
    margin-top: 3px;
    overflow: auto;
  }

  &-cardsContainer-card {
      margin: 20px 20px;
  }

  &-message {
    font-size: 0.9rem;
    text-align: center;
    font-style: italic;
    color: #393939;;
    margin-top: 30px;
    transition: opacity ease 1s;
    &-btn {
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 30px;
    }
    p {
      font-style: italic;
    }
    &.hide {
      opacity: 0;
      transition: opacity ease 1s;
    }
  }
}
