@import "variables";

.Onboarding {
  ::ng-deep {
    .mat-step-header .mat-step-icon {
      &:not(.mat-step-icon-selected) {
        background-color: $secondaryColor;
      }
      color: white;
      &-selected {
        background-color: $primaryColor;
      }
    }

    mat-step-header.mat-horizontal-stepper-header {
      padding: 0 32px 0 32px;
    }
  }

  mat-horizontal-stepper {
    background: none;
  }

  button {
    font-weight: bold;
  }

  &-step {
    min-height: 400px;
    &-title {
      margin: 60px 0 30px;
      text-align: center;
    }
    &-tagHints {
      font-size: 19px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      flex-wrap: wrap;

      app-emoji {
        width: 30px;
      }

      span {
        margin-right: 10px;
      }

      margin-top: 10px;
    }
    &-id {
      display: flex;
      flex-direction: column;
      margin: auto;
    }
  }
  &-nav-container {
    display: flex;
    justify-content: space-between;
    &-first {
      justify-content: flex-end;
    }
  }


  &-conditions {
    text-align: center;
    a {
      font-weight: bold;
    }
  }

  &-newsletter {
    text-align: center;
    margin-top: 20px;
  }

  .spinner-border {
    margin-bottom: 9px;
  }
}

