<div class="Onboarding">
  <form (ngSubmit)="submit()" [formGroup]="userForm">
    <mat-horizontal-stepper (selectionChange)="setSelection($event)">
      <ng-template matStepperIcon="profil">
        <i class="fa fa-user"></i>
      </ng-template>
      <ng-template matStepperIcon="edit">
        <i class="fa fa-check"></i>
      </ng-template>
      <ng-template matStepperIcon="done">
        <mat-icon>done_all</mat-icon>
      </ng-template>
      <mat-step label="Apprentissage" >
        <div class="Onboarding-step" id="learningStep">
          <h4 class="Onboarding-step-title">{{titles.tags.title}}</h4>
            <profile-form-tags [parentForm]="userForm" [fieldName]="'learn_tags'" [type]="learnType" ></profile-form-tags>
            <p class="Onboarding-step-tagHints">
              <app-emoji emojiName="265F"></app-emoji><span>Echecs,</span>
              <app-emoji emojiName="1F431-200D-1F4BB"></app-emoji><span>Informatique,</span>
              <app-emoji emojiName="1F5E3"></app-emoji><span>Espagnol ...</span>
            </p>
        </div>
        <div class="Onboarding-nav-container Onboarding-nav-container-first">
          <button class="Onboarding-nav-nextButton" type="button" mat-raised-button color="primary" matStepperNext>Suivant ></button>
        </div>
      </mat-step>
      <mat-step label="Ville" >
        <div class="Onboarding-step" id="cityStep">
          <h4 class="Onboarding-step-title">{{titles.city.title}}</h4>
          <app-profile-form-city [parentForm]="userForm"></app-profile-form-city>
        </div>
        <div class="Onboarding-nav-container">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>< Retour</button>
          <button class="Onboarding-nav-nextButton" type="button" mat-raised-button color="primary" matStepperNext>Suivant ></button>
        </div>
      </mat-step>
      <mat-step label="Projets" >
        <div class="Onboarding-step" id="projectStep">
          <h4 class="Onboarding-step-title">{{titles.bio.title}}</h4>
          <profile-form-biography [parentForm]="userForm"></profile-form-biography>
        </div>
        <div class="Onboarding-nav-container">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>< Retour</button>
          <button class="Onboarding-nav-nextButton" type="button" mat-raised-button color="primary" matStepperNext>Suivant ></button>
        </div>
      </mat-step>
      <mat-step label="Identifiants"  >

        <div class="Onboarding-step" id="idStep">
          <h4 class="Onboarding-step-title">{{titles.ids.title}}</h4>
          <div class="Onboarding-step-id col-12 col-md-6 col-xl-4">
              <mat-form-field appearance="fill" >
                <mat-label>Prénom</mat-label>
                <input id="firstNameInput" matInput placeholder="" formControlName="first_name"  >
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Nom</mat-label>
                <input id="lastNameInput" matInput placeholder="" formControlName="last_name"  >
              </mat-form-field>
              <auth-form-email [parentForm]="userForm"></auth-form-email>
              <auth-form-password [parentForm]="userForm"></auth-form-password>
          </div>
          <div class="col-12">
            <p class="Onboarding-newsletter">
              <mat-checkbox formControlName="newsletter">J'adhère à la newsletter ( surtout pour les apéros 🍻 & ateliers 🛠️ )</mat-checkbox>
            </p>
          </div>
        </div>
        <div class="Onboarding-nav-container">
          <button type="button" mat-raised-button color="accent" matStepperPrevious>< Retour</button>
          <button class="Onboarding-nav-nextButton" type="submit" mat-raised-button color="primary" [disabled]="!userForm.valid" matStepperNext>
            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Créer mon compte
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
