<div class="media conversation" [class.selected]="selected"  >
  <div class="pull-left">
    <img *ngIf="thread.avatarSrc" class="media-object avatar"
         src="{{avatarSrcBase}}{{thread.avatarSrc}}">
    <img *ngIf="!thread.avatarSrc" class="media-object avatar"
         src="{{avatarSrcBase}}{{baseImageName}}">
  </div>
  <div class="media-body">
    <span class="media-heading contact-name">{{thread.name}}
    </span>
    <div class="messageContainer">
      <small *ngIf="thread.lastMessage.receiver && thread.id !== thread.lastMessage.receiver.id" class="message-preview">{{thread.id}}{{thread.lastMessage.receiver.id}}{{thread.lastMessage.message}}</small>
      <small *ngIf="!thread.lastMessage.receiver || !(thread.id !== thread.lastMessage.receiver.id)" class="message-preview"></small>
    </div>
  </div>
  <a (click)="clicked($event)" class="div-link">Select</a>
</div>
