<div *ngIf="_thread.id" class="media conversation" [class.selected]="selected"  >
  <div class="pull-left">
    <img *ngIf="_thread.avatarSrc" class="media-object avatar"
         src="{{avatarSrcBase}}{{_thread.avatarSrc}}">
    <img *ngIf="!_thread.avatarSrc" class="media-object avatar"
         src="{{avatarSrcBase}}{{baseImageName}}">
  </div>
  <div class="media-body">
    <span class="media-heading contact-name">{{_thread.name}}
    </span>
    <div class="messageContainer">
      <small *ngIf="_thread.lastMessage.sender && _thread.id === _thread.lastMessage.sender.id" class="message-preview">{{_thread.lastMessage.message}}</small>
      <small *ngIf="!_thread.lastMessage.sender || !(_thread.id === _thread.lastMessage.sender.id)" class="message-preview"></small>
    </div>
  </div>
  <a (click)="clicked($event)" class="div-link">Select</a>
</div>
