*/5 * * * *	root /bin/bash /home/etouraille/src/bh/script/c-run >> /var/log/cron.run.log

10 1 * * * root docker exec docker_web_1 /bin/bash -c "cd /src/app;bin/console bg:alive;" >> /var/log/cron.alive.log

7 3 * * * root /bin/bash /home/etouraille/src/bh/backup/back >> /var/log/cron.back.log
