<div class="col-md-6 col-md-offset-3">
    <h2>Phrase Clef</h2>
    <form name="form" (ngSubmit)="f.form.valid && submit(f)" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !phrase.valid }">
            <label for="phrase">Phrase Clef</label>
            <textarea class="form-control" name="login" [(ngModel)]="entity.phrase" #phrase="ngModel" required ></textarea>
            <div *ngIf="f.submitted && !phrase.valid" class="help-block">La phrase ancre est obligatoire</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !url.valid }">
            <label for="url">Url</label>
            <textarea class="form-control" name="url" [(ngModel)]="entity.url" #url="ngModel" required ></textarea>
            <div *ngIf="f.submitted && !url.valid" class="help-block">L'url est obligatoire</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !idLanguage.valid }">
            <label for="idLanguage">Langue</label>
            <select-language name="idLanguage" [(idLanguage)]="entity.idLanguage"  required ></select-language>
            <div *ngIf="f.submitted && !idLanguage.valid" class="help-block">La langue est obligatoire</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !idClient.valid }">
            <label for="idClient">Client</label>
            <select-client name="idClient" [(idClient)]="entity.idClient"  required ></select-client> 
            <div *ngIf="f.submitted && !idClient.valid" class="help-block">Le client est obligatoire</div>
        </div>  
        <div class="form-group">
            <button *ngIf="!edition" type="submit" [disabled]="loading" class="btn btn-primary">Ajouter</button> 
            <button *ngIf="edition" type="submit" [disabled]="loading" class="btn btn-primary">Modifier</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>
</div>
<div class="col-md-9 col-md-offset-3">
    <div class="row"><filter [(model)]="idClient" field="idClient" (reload)="load()"></filter><select-client [(idClient)]="idClient"></select-client></div>
</div>

<div class="col-md-9 col-md-offset-3">
    <h2>Liste des Phrases Clef</h2>
    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Utilisation</th>
              <th>Modifier</th>
              <th>Supprimer</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entity of entities">
              <td>{{ entity.phrase }}</td>
              <td>{{ entity.used }}</td>
              <td><button (click)="edit(entity.id)" class="btn">Modifier</button></td>
              <td><button (click)="delete(entity.id)" class="btn">Supprimer</button></td>
            </tr>
          </tbody>
        </table>
    </div>
    <pagination (change)="change($event)"></pagination>
</div>
      
