@import './../../../../../assets/scss/variables.scss';


.emptyCardsMessage{
  padding: 30px;
}


@media (min-width: 992px){
  #conversationColumn{
    position: fixed;
    right: 0;
  }
}

.imageContainer{
  border-radius: 2px;
}



#searchLoader {
  padding-top: 10px;
  height: 72px;
  svg{
    margin: auto;
    fill: transparent;
  }
}
