div.collapsed {
  overflow: hidden;
  transition: all 1s ease;
}

div.text{
  transition: all 1s ease;
  p::before, p::after {
    content: '"';
  }
}
.readMore{
  padding: 20px;
  p:before, p:after {
    content: '"';
  }
  button{
    padding: 0.1rem 0.5rem 0;
    color: white;
    background-color: #b7b7b7;
    font-size: 1.4rem;
    line-height: 0rem;
    margin: 0;
    border: solid 0.5px grey;
    .fa{
      color: white;
      line-height: 0.8rem;
    }
    .fa-minus{
      font-size: 1rem;
    }
  }
}
