@import 'variables';
@import "extendables";

.SearchPage {

  mat-progress-bar {
    &.hide {
      opacity: 0;
    }
  }

  &-content {
    @extend %wc-thin-scroll-bar;
    max-height: calc(100vh - 169px);
    overflow: auto;
    padding: 0 30px;
  }

  &-cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    &-card {
      width: 300px;
      margin: 20px 30px;
    }
  }

  &-explorationModeMessage {
    font-size: small;
    margin-bottom: 0;
    color: var(--main-color-1-light-15);
  }

  &-message {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: #393939;;
    margin-left: 30px;
    margin-top: 10px;
    opacity: 1;
    //transition: ease 1s;
    min-height: calc(24px + 1rem);
    &-btn {
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 0;
      font-style: italic;
    }
    &.hide {
      opacity: 0;
      //transition: ease 1s;
    }
    &:not(.hide) {
      transition: opacity ease 1s;
    }
  }

  &-header{
    padding: 18px 0 20px 60px;
    border-bottom: solid 1px lightgray;
  }
}
