@import 'variables';
@import "extendables";

.SearchPage {

  mat-progress-bar {
    &.hide {
      opacity: 0;
    }
  }

  &-content {
    @extend %wc-thin-scroll-bar;
    max-height: calc(100vh - 64px);
    overflow: auto;
    padding: 0 30px;
  }

  &-cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    &-card {
      width: 300px;
      margin: 20px 30px;
    }
  }

  &-message {
    font-style: italic;
    color: #393939;;
    margin-left: 30px;
    opacity: 1;
    transition: ease 1s;
    min-height: calc(24px + 1rem);
    &.hide {
      opacity: 0;
      transition: ease 1s;
    }
  }

  &-header{
    margin: 30px 0 0 30px;
  }
}
