<section *ngIf="!isMobile">
  <h1>Inscription</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <form-signup></form-signup>
        <slack-connexion></slack-connexion>
        <br>
        <p class="conditions">
          En cliquant sur "Inscription", vous acceptez nos <a href="">Conditions générales de service</a>, notre
          <a href="">Politique de respect de la vie privée</a> et notre <a href="">Politique d'utilisation des cookies</a>.
        </p>
      </div>
    </div>
  </div>
</section>

<section *ngIf="isMobile">
  <h1 class="mobile">Inscription</h1>
  <form-signup-mobile></form-signup-mobile>
</section>

