<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 center">
            <div class="bloc-container">
                <div class="bloc">
                    <div class="bloc-title">
                        <h2>Connexion</h2>
                        <p>Nouveau sur WeColearn ? <a routerLink="/subscribe">Inscription</a></p>
                    </div>
                    <div class="bloc-content">
                        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                                <label for="email">Email</label>
                                <input type="email" id="email" class="form-control showvalidity" name="username" [(ngModel)]="model.email" #email="ngModel" required pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"/>
                                <div *ngIf="f.submitted && !email.pristine && !email.valid"  class="help-block">L'email est obligatoire</div>
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                <label for="password">Mot de passe</label>
                                <input type="password" id="password" class="form-control showvalidity" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                                <div *ngIf="f.submitted && !password.valid" class="help-block">Le mot de passe est obligatoire</div>
                            </div>
                            <div class="form-group">
                                <button type="submit" [disabled]="loading" class="btn btn-primary-wc">Connexion</button>
                                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                            </div>
                            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                        </form>
                      <a href="https://slack.com/oauth/authorize?scope=identity.basic identity.email identity.avatar&client_id=5014201828.445316374448">
                        <img alt="Inscription avec Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" />
                      </a>
                      <a href="https://discordapp.com/api/oauth2/authorize?client_id=496003469530890250&redirect_uri=http%3A%2F%2F0.0.0.0%3A8080%2Flogin&response_type=code&scope=email%20identify">
                        <img alt="Inscription avec Discord" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" />
                      </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
