@import 'variables';
@import "extendables";

.SearchPage {
  &-message {
    &--mobile {
      margin-top: 5px;
    }
  }

  &-header{
    margin: 18px 0 0 0;
    &-mobile{
      padding-top: 5px;
      position: fixed;
      z-index: 500;
      width: 100%;
      background-color: white;
    }
  }
}

#cardsContainer{
  &.desktop{
    @extend %wc-thin-scroll-bar;
    height: calc(100vh - 143px);
  }
  &.mobile{
    height: calc(100vh - 182px);
    margin-top: 71px;
  }
  align-items: center;
  justify-content: center;
  overflow: auto;
}
