@import 'variables';
@import "extendables";

.SearchPage {

  &-content {
    &.desktop {
      @extend %wc-thin-scroll-bar;
      height: calc(100vh - 60px);
      overflow: auto;
    }
    &.mobile{
      height: calc(100vh - 109px);
      padding-top: 10px;
      overflow: auto;
    }
  }

  #cardsContainer{
    align-items: center;
    justify-content: flex-start;
  }

  &-message {
    font-style: italic;
    color: #848383;
    &-mobile {
      margin-top: 5px;
    }
  }

  &-header{
    margin: 18px 0 0 0;
    &-mobile{
      padding-top: 5px;
      position: fixed;
      z-index: 500;
      width: 100%;
      background-color: white;
    }
  }
}
