<section class="landing-page">
  <div class="container-fluid">
    <div class="row">
      <div class="landing-left col-lg-5 mx-auto">
        <div class="brand">
          <img src="assets/logo/wecolearn-logo-black.svg" alt="" />
        </div>
        <div class="landing-description d-flex col-md-8 col-lg-12 mx-sm-auto">
          <div class="d-flex flex-column justify-content-center">
            <h1 class="slogan">Rencontre des personnes avec qui apprendre !</h1>
            <p class="resume">
              Wecolearn est une application web qui permet à des personnes qui se sentent isolées dans leur apprentissage de rencontrer d'autre apprenants afin de se motiver à plusieurs.
            </p>
            <form-signin></form-signin>
          </div>
        </div>
      </div>

      <div class="col-md-5 d-none d-lg-block">
        <div class="landing-picture-background ">
          <div class="landing-picture"></div>
        </div>
      </div>
    </div>
  </div>
</section>
