<nav class="navbar navbar-expand navbar-light sticky-top">
<!--  <a class="nav-link btn" id="menu-toggle" (click)="toggle()"><i class="fas fa-bars"></i></a>-->
  <ul class="nav navbar-nav ml-auto">
    <li dropdown id="notifications"
        class="btn-group nav-item d-inline-block" *ngIf="notifications && (notifications.length > 0)">
      <a class="nav-link dropdown-toggle" id="headerBell" dropdownToggle aria-controls="notification-menu">
        <i class="fas fa-bell"></i> <span class="badge">{{ unreadMessagesCount }}</span>
      </a>
      <ul *dropdownMenu aria-labelledby="headerBell" id="notification-menu" class="dropdown-menu dropdown-menu-right" role="menu">
        <li *ngFor="let notification of notifications; let i = index" role="menuitem">
          <a class="nav-link dropdown-item" (click)="activateNotification(notification)"
             [ngStyle]="{'border-bottom': (i !== 0) ? 'solid 1px #f5f1f1' : ''}">
            <span class="client-name">{{notification.name}}</span><br><span
                  style="text-overflow: ellipsis">{{notification.lastMessage.message}}</span>
          </a>
        </li>
      </ul>
    </li>
    <li dropdown id="parameters" class="btn-group nav-item d-inline-block">
      <a class="nav-link dropdown-toggle" id="dropdownParameters-button" dropdownToggle
         aria-controls="dropdownParameters-menu">
        <wc-profil-image [image]="currentClient.image" [style]="{width: '30px', height: '30px'}"></wc-profil-image>
      </a>
      <ul *dropdownMenu aria-labelledby="dropdownParameters-button" id="dropdownParameters-menu"
          class="dropdown-menu  dropdown-menu-right" role="menu">
        <li role="menuitem"><a class="nav-link dropdown-item" routerLink="/dashboard/profile"><i class="fas fa-user"></i>Profil</a></li>
        <li role="menuitem"><a class="nav-link dropdown-item" routerLink="/dashboard/profile/settings"><i class="fas fa-user-cog"></i>Paramètres</a></li>
        <li role="menuitem"><a class="nav-link dropdown-item" (click)="logOut(true)"><i class="fas fa-sign-out-alt"></i>Déconnexion</a></li>
      </ul>
    </li>
  </ul>
</nav>
