<nav class="navbar navbar-expand navbar-light">
  <div class="nav navbar-nav ml-auto">
    <a class="nav-link dropdown-toggle" [matMenuTriggerFor]="menu" aria-label="Menu">
      <wc-profil-image [image]="currentUser.image" [style]="{width: '30px', height: '30px'}"></wc-profil-image>
    </a>
  </div>
</nav>

<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="navLinks.profileSettings">
    <mat-icon>face</mat-icon>
    Profil
  </button>
  <button mat-menu-item [routerLink]="navLinks.settings">
    <mat-icon>settings</mat-icon>
    Paramètres
  </button>
  <button id="signOutButton" mat-menu-item (click)="logOut()">
    <mat-icon>logout</mat-icon>
    Déconnexion
  </button>
</mat-menu>
