@import './../../../../../../assets/scss/variables.scss';


.bloc-container{
  max-width: 350px;
  text-align: center;
}

.bloc-content{
  padding-bottom: 16px;
}


.bloc-title{
  border: var(--main-color-2) 10px solid;
  background: none;
}