<div class="bloc-container">
  <div class="bloc">
    <div class="bloc-title">
      <img src="{{logoPath}}" alt="">
      <h2 class="center">
        {{community.title}}
      </h2>
    </div>
    <div class="bloc-content">
      <p>
        {{community.description}}
      </p>
      <div class="center">
        <a *ngIf="production" href="{{link}}" >
          <button type="button" class="btn btn-primary">
            Rejoindre
          </button>
        </a>
        <a *ngIf="!production" (click)='setDevSubdomain(community.subDomain)'>
          <button type="button" class="btn btn-primary">
            Rejoindre
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
    