<div class="col-md-6 col-md-offset-3">
    <h2>Hébergeurs</h2>
    <form name="form" (ngSubmit)="f.form.valid && submit(f)" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
            <label for="name">Nom</label>
            <input class="form-control" name="name" [(ngModel)]="entity.name" #name="ngModel" required />
            <div *ngIf="f.submitted && !name.valid" class="help-block">Le nom est obligatoire</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !ftpLogin.valid }">
            <label for="ftpLogin">Login FTP</label>
            <input class="form-control" name="ftpLogin" [(ngModel)]="entity.ftpLogin" #ftpLogin="ngModel" required />
            <div *ngIf="f.submitted && !ftpLogin.valid" class="help-block">Le Login ftp est obligatoire</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !ftpPassword.valid }">
            <label for="ftpPassword">Mot de passe FTP</label>
            <input class="form-control" name="ftpPassword" [(ngModel)]="entity.ftpPassword" #ftpPassword="ngModel" required />
            <div *ngIf="f.submitted && !ftpPassword.valid" class="help-block">Le mot de passe FTP est obligatoire</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !accountLogin.valid }">
            <label for="accountLogin">Login du compte</label>
            <input class="form-control" name="accountLogin" [(ngModel)]="entity.accountLogin" #accountLogin="ngModel" required />
            <div *ngIf="f.submitted && !accountLogin.valid" class="help-block">Le Loginest obligatoire</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !accountPassword.valid }">
            <label for="accountPassword">Mot de passe du compte</label>
            <input class="form-control" name="accountPassword" [(ngModel)]="entity.accountPassword" #accountPassword="ngModel" required />
            <div *ngIf="f.submitted && !accountPassword.valid" class="help-block">Le mot de passe du compte est obligatoire</div>
        </div>
        <div class="form-group">
            <button *ngIf="!edition" type="submit" [disabled]="loading" class="btn btn-primary">Ajouter</button> 
            <button *ngIf="edition" type="submit" [disabled]="loading" class="btn btn-primary">Modifier</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>
</div>
<div class="col-md-9 col-md-offset-3">
    <h2>Liste des Phrases Clef</h2>
    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Modifier</th>
              <th>Supprimer</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entity of entities">
              <td>{{ entity.name }}</td>
              <td><button (click)="edit(entity.id)" class="btn">Modifier</button></td>
              <td><button (click)="delete(entity.id)" class="btn">Supprimer</button></td>
            </tr>
          </tbody>
        </table>
    </div>
    <pagination (change)="change($event)"></pagination>
</div>
      
