<app-landing-layout title="Qu'est-ce que c'est ?" mode="dark">
  <div class="row">
    <div class="col-12">
      <p>
        Quand on commence à apprendre dans un nouveau domaine, c’est souvent dur de rester motivé dans la durée.
      </p>
      <p>
        Nous sommes convaincus que la présence de l’autre aide à se focaliser sur son apprentissage.
      </p>
      <p>
        Pour faciliter ces rencontres, nous avons conçu cette application qui peut te permettre de trouver des partenaires d’apprentissages dans de nombreux domaines tels que : les échecs, une langue étrangère, un logiciel, la programmation.
      </p>
      <p>
        Et tu peux aussi ajouter tes propres domaines d’apprentissage !
      </p>
    </div>
  </div>
</app-landing-layout>
