<form (ngSubmit)="f.form.valid && submit(f)" #f="ngForm" [ngClass]="f.submitted ? 'was-validated':''">
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  <div class="form-group" >
    <label>Prénom</label>
    <input type="text" class="form-control showvalidity" name="firstname" [(ngModel)]="user.first_name" #username="ngModel" required />
    <div class="invalid-feedback">Le prénom est obligatoire</div>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control showvalidity" name="email" [(ngModel)]="user.email" #email="ngModel" required pattern="{{pattern}}"/>
    <div class="invalid-feedback">L'email est obligatoire</div>
  </div>
  <div class="form-group">
    <label>Mot de passe</label>
    <input type="password" class="form-control showvalidity" name="password" [(ngModel)]="user.password" #password="ngModel" required/>
    <div class="invalid-feedback">Le mot de passe est obligatoire</div>
    <password-strength-bar [passwordToCheck]="user.password" [barLabel]="barLabel"></password-strength-bar>
  </div>
  <div class="form-group ">
    <button *ngIf="!edition" type="submit" [disabled]="loading" class="btn btn-primary btn-block">
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Inscription
    </button>
  </div>
</form>
