<div class="row">
	<div class="col-xs-10 col-md-10" [hidden]="page!=i" *ngFor="let _page of _pages;let i=index;">
		<ul class="thumbnail">
			<li *ngFor="let element of _page; let j=index;">
				<div>
					<input type="checkbox" [ngModel]="_pages[i][j].selected" (ngModelChange)="onChange(element.blog,$event)" />
					{{ element.blog.name }}
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="btn-toolbar" role="toolbar" >
	  <div *ngFor="let page of _pages;let _page = index " class="btn-group" ngClass="{'active': 'page===_page'}">
	  	<a (click)="somePage( _page, $event )" class="btn">
	  		<span>{{ _page + 1 }}</span>
	  	</a>
	  </div>
	</div>
</div>