<section>
  <form *ngIf="loaded" class="ProfileSettingsForm form-horizontal" (ngSubmit)="submit()" [formGroup]="userForm">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <profile-form-image [parentForm]="userForm" (onChange)="submit()"></profile-form-image>
      </div>
      <div class="row">
        <div class="col-12 no-padding ProfileSettingsForm-firstname-container">
          <profile-form-firstname [saving]="savingInput.first_name"
                                  [parentForm]="userForm"></profile-form-firstname>
        </div>
      </div>
      <div class="row">
        <div class="col-12 no-padding">
          <profile-form-lastname [saving]="savingInput.last_name" [parentForm]="userForm"></profile-form-lastname>
        </div>
      </div>
      <div class="row fieldContainer">
        <div class="col-12 no-padding">
          <h6 [id]="tagTypeEn(learnType)" class="ProfileSettingsForm-title">Je veux apprendre
            <app-emoji [emojiName]="'1F4C8'"></app-emoji>
          </h6>
          <app-profile-form-tags-mobile [parentForm]="userForm" [fieldName]="'learn_tags'"
                                        [type]="learnType"></app-profile-form-tags-mobile>
        </div>
      </div>
      <div class="row fieldContainer">
        <div class="col-12 no-padding">
          <h6 class="ProfileSettingsForm-title">Mes projets
            <app-emoji [emojiName]="'1F9D1-200D-1F680'"></app-emoji>
          </h6>
          <profile-form-biography [saving]="savingInput.biographie"
                                  [parentForm]="userForm"></profile-form-biography>
        </div>
      </div>
      <div class="row fieldContainer">
        <div class="col-12 no-padding">
          <h6 [id]="tagTypeEn(knowType)" class="ProfileSettingsForm-title">Je connais
            <app-emoji [emojiName]="'E319'"></app-emoji>
          </h6>
          <app-profile-form-tags-mobile [parentForm]="userForm" [fieldName]="'know_tags'"
                                        [type]="knowType"></app-profile-form-tags-mobile>
        </div>
      </div>
      <div class="row fieldContainer">
        <div class="col-12 no-padding">
          <h6 [id]="tagTypeEn(teachType)" class="ProfileSettingsForm-title">J'ai envie de transmettre
            <app-emoji [emojiName]="'1F9D1-200D-1F3EB'"></app-emoji>
          </h6>
          <app-profile-form-tags-mobile [parentForm]="userForm" [fieldName]="'teach_tags'"
                                        [type]="teachType"></app-profile-form-tags-mobile>
        </div>
      </div>
      <div class="row fieldContainer">
        <div class="col-12 no-padding">
          <h6 class="ProfileSettingsForm-title">L'intensité à laquelle je souhaite apprendre</h6>
          <profile-form-intensity [parentForm]="userForm"></profile-form-intensity>
        </div>
      </div>
      <div class="row fieldContainer">
        <div class="col-12">
          <h6 class="ProfileSettingsForm-title">Ma position</h6>
          <app-geolocation [parentForm]="userForm"></app-geolocation>
        </div>
      </div>
    </div>
  </form>
</section>
