  <div class="SearchBar" >
  <mat-icon *ngIf="isActive" (click)="deactivateSearchBar()" class="SearchBar-returnIcon">arrow_back</mat-icon>
  <mat-form-field color="accent" appearance="outline">
    <input #searchBar type="text" matInput placeholder="Recherche" [disabled]="loading" [formControl]="searchInputControl" (focus)="activateSearchBar()">
    <button *ngIf="searchBarHasValue" matSuffix mat-icon-button aria-label="Clear" (click)="resetSearchBar($event)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<ion-list *ngIf="isActive">
  <ion-item (click)="search(option)" *ngFor="let option of foundAutocompleteTags$ | async">
    {{option.name}}
  </ion-item>
</ion-list>
