<form>
  <mat-form-field>
    <input #searchBar type="text" matInput placeholder="Recherche" (keyup.enter)="search()" [disabled]="loading" [formControl]="searchInputControl" [matAutocomplete]="auto" [matAutocompleteDisabled]="autocompleteDisabled" (focus)="onFocus()" (blur)="onBlur()">
    <mat-icon *ngIf="loading" matSuffix class="spinner-border spinner-border-sm"></mat-icon>
    <mat-icon *ngIf="!loading" matSuffix class="fas fa-search"></mat-icon>
    <mat-autocomplete (optionSelected)="search()" #auto="matAutocomplete" [displayWith]="displayAutocomplete">
      <mat-option *ngFor="let option of observableSource | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
