@import 'variables';

.SearchBar {
  &-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
    ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  &-option {
    padding:8px;
    font-size: 0.9rem;
    background-color: white;
    color: #310c31;
  }

  mat-form-field {
    width: 400px;
  }
  & > button {
    margin-left: 20px;
  }
  &-filters {
    display: flex;
    align-items: center;
    &-globalMode {
      span { // todo: should be global !
        font-family: $mainFont;
      }
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 20px;
    }
    &-community {
      margin-left: 10px;
      &-option {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

