<mat-menu #appMenu="matMenu" xPosition="before" >
  <div mat-menu-item (click) = "$event.stopPropagation();">
    <mat-checkbox [ngModel]="!useProfileTagsMode" (ngModelChange)="setUseProfileMode(!$event)">
      <span [matTooltip]="'Ne pas prendre en compte les domaines d\'apprentissages de votre profile'">mode exploration ✨</span>
    </mat-checkbox>
  </div>
  <div mat-menu-item (click) = "$event.stopPropagation();">
    <mat-checkbox [ngModel]="globalMode" (ngModelChange)="setGlobalMode($event)">
      <span [matTooltip]="'Sur toute la planète !'">recherche globale 🌏</span>
    </mat-checkbox>
  </div>
</mat-menu>

<div class="SearchBar">
    <mat-form-field color="accent" appearance="outline">
      <input #searchBar type="text" matInput placeholder="Rechercher des profils par apprentissage" (keyup.enter)="search()" [disabled]="loading" [formControl]="searchInputControl" [matAutocomplete]="auto" [matAutocompleteDisabled]="autocompleteDisabled" (blur)="onInputBlur()">
      <button *ngIf="searchBarHasValue" matSuffix mat-icon-button aria-label="Clear" (click)="resetSearchBar()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-icon *ngIf="!searchBarHasValue" matSuffix>search</mat-icon>
      <mat-autocomplete (optionSelected)="search()" #auto="matAutocomplete" [displayWith]="displayAutocomplete" >
        <mat-option *ngFor="let option of foundAutocompleteTags$ | async" [value]="option">
          <span class="SearchBar-option badge">{{option.name}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button color="accent" mat-button [matMenuTriggerFor]="appMenu" (menuClosed)="focusInput()" mat-icon-button >
      <mat-icon (click)="onFilterClick($event)" matSuffix>filter_list</mat-icon>
    </button>
</div>
