<div class="SearchBar">
    <mat-form-field color="accent" appearance="outline">
      <input #searchBar type="text" matInput placeholder="Rechercher des profils par apprentissage" (keyup.enter)="searchWithString()" [disabled]="loading" [formControl]="searchInputControl" [matAutocomplete]="auto" [matAutocompleteDisabled]="autocompleteDisabled" (blur)="onInputBlur()">
      <button *ngIf="searchBarHasValue" matSuffix mat-icon-button aria-label="Clear" (click)="resetSearchBar($event)">
        <mat-icon>close</mat-icon>
      </button>
      <mat-icon *ngIf="!searchBarHasValue" matSuffix>search</mat-icon>
      <mat-autocomplete (optionSelected)="selectOption($event)" #auto="matAutocomplete" >
        <mat-option *ngFor="let option of foundAutocompleteTags$ | async" [value]="option">
          <span class="SearchBar-option badge">{{option.name}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  <div class="SearchBar-globalMode">
    <mat-checkbox [ngModel]="globalMode" (ngModelChange)="setGlobalMode($event)">
      <span [matTooltip]="'Sur toute la planète !'">recherche globale 🌏</span>
    </mat-checkbox>
  </div>
</div>
