<div class="SearchBar-container">
  <div class="SearchBar">
    <mat-form-field color="accent" appearance="outline">
      <input #searchBar type="text" matInput placeholder="Rechercher des profils par apprentissage"
             [disabled]="loading"
             [formControl]="searchInputControl"
             (keyup.enter)="searchWithString()"
             (keyup.backspace)="inputChangeByUser($event)"
             (keyup)="inputChangeByUser($event)"
             [matAutocomplete]="auto"
             [matAutocompleteDisabled]="autocompleteDisabled"
             (blur)="onInputBlur()">
      <button *ngIf="searchBarHasValue" matSuffix mat-icon-button aria-label="Clear" (click)="resetSearchBar($event)">
        <mat-icon>close</mat-icon>
      </button>
      <mat-icon *ngIf="!searchBarHasValue" matSuffix>search</mat-icon>
      <mat-autocomplete (optionSelected)="selectOption($event)" #auto="matAutocomplete" >
        <mat-option *ngFor="let option of foundAutocompleteTags$ | async" [value]="option">
          <span class="SearchBar-option badge">{{option.name}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="SearchBar-filters">
    <mat-form-field *ngIf="showCommunities" class="SearchBar-filters-community" appearance="outline">
      <mat-label>Communauté</mat-label>
      <mat-select (selectionChange)="setCommunity($event)" [(value)]="selectedCommunity">
        <mat-select-trigger>
          <div class="SearchBar-filters-community-option">
            <span>{{selectedCommunity.name}}</span>
            <img *ngIf="selectedCommunity.image" [src]="selectedCommunity.image | cloudinaryImagePipe: 'png'"
                 style="width: 30px; height: 30px"/>
          </div>
        </mat-select-trigger>
        <mat-option *ngFor="let community of communities" [value]="community">
          <div class="SearchBar-filters-community-option">
            <span>{{community.name}}</span>
            <img *ngIf="community.image" [src]="community.image | cloudinaryImagePipe: 'png'"
                 style="width: 30px; height: 30px"/>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="SearchBar-filters-globalMode">
      <mat-checkbox [ngModel]="globalMode" (ngModelChange)="setGlobalMode($event)">
        <span [matTooltip]="'Sur toute la planète !'">Globale 🌏</span>
      </mat-checkbox>
    </div>
  </div>
</div>
