<mat-form-field appearance="legacy" [formGroup]="parentForm">
  <mat-label>Email</mat-label>
  <input appHideMenuMobileOnFocus id="emailInput" matInput type="email" placeholder="Email" formControlName="email">
  <mat-error *ngIf="parentForm.controls.email.hasError('duplicate')">
    Cette adresse email est déjà utilisée.
  </mat-error>
  <mat-error *ngIf="parentForm.controls.email.hasError('pattern') && !parentForm.controls.email.hasError('required')">
    L'email n'est pas valide
  </mat-error>
  <mat-error *ngIf="parentForm.controls.email.hasError('required')">
    L'email est <strong>obligatoire</strong>
  </mat-error>
</mat-form-field>

