<div class="col-md-9 col-md-offset-3">
    <h2>Publication en masse en cours, ou en attente.</h2>
    <h4>Temps restant sur les publication en cours : {{ remainingLaunched }} s.</h4>
    <h4>Temps restant sur tout les publications : {{ remaining }} s.</h4>
    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nom de la publication</th>
              <th>En Cours / Lancer</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let masse of masses">
              <td>{{ masse.name }}</td>
              <td>
                <span [hidden]="!masse.launched">en cours pour {{ masse.remaining }} s</span>
                <span [hidden]="masse.launched">
                  <button (click)="launch(masse)" class="btn">Lancer</button></span>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <pagination (change)="change($event)"></pagination>
</div>