@import "variables";

.manifeste {
  margin-bottom: 50px;
  &-intro {
    font-size: 20px;
    text-align: justify;
  }
  &-objectives {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &-objective {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    margin: 20px;
    &-image {
      overflow: hidden;
      max-width: 250px;
      max-height: 165px;
    }
    &-text, img {
      max-width: 250px;
      width: 100%;
    }
    &-text {
      margin: 0;
      background-color: $secondaryColor;
      color: $primaryColor;
      padding: 15px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &-value {
    font-size: 1.2rem;
    &s {
      &-title {
        margin-top: 40px !important;
        margin-bottom: 80px !important;
      }

      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    text-align: center;
    margin-bottom: 30px;
  }

}


