<div class="container-fluid" *ngIf="!loading && !isMobile">
    <div class="row" *ngIf="(threads.value.length > 0)">
        <div class="col-2 no-padding">
            <chat-threads></chat-threads>
        </div>
        <div class="col-10 no-padding">
            <chat-window></chat-window>
        </div>
    </div>
    <div class="row" *ngIf="(threads.value.length === 0 )">
        <div class="col-12 center">
            <br><br><br>
            Vous n'avez pas encore commencé de discussion.
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="!loading && isMobile">
    <div class="row" *ngIf="(threads.value.length > 0)">
        <div class="col-12 no-padding">
            <chat-threads-mobile></chat-threads-mobile>
        </div>
    </div>
    <div class="row" *ngIf="(threads.value.length === 0 )">
        <div class="col-12 center">
            <br><br><br>
            Vous n'avez pas encore commencé de discussion.
        </div>
    </div>
</div>
