@import '~ngx-toastr/toastr';

@import 'assets/scss/variables';
@import "assets/scss/material-theme.scss";

@include mat-core();
@include angular-material-theme($my-theme);


/* latin */
@font-face {
  font-family: 'ralewayblack';
  src: url('assets/font/raleway-black-webfont.woff2') format('woff2'),
  url('assets/font/raleway-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'ralewaybold';
  src: url('assets/font/raleway-bold-webfont.woff2') format('woff2'),
  url('assets/font/raleway-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'ralewayregular';
  src: url('assets/font/raleway-regular-webfont.woff2') format('woff2'),
  url('assets/font/raleway-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'ralewaymedium';
  src: url('assets/font/raleway-medium-webfont.woff2') format('woff2'),
  url('assets/font/raleway-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




html{
  background-color: #f5f5f5;
  font-family: ralewayregular, OpenSansSerif, sans-serif;
}


a{
  cursor: pointer;
  color: inherit;
  &:hover, &:active{
    color: inherit;
  }
}

body {
  background-color: #f5f5f5;
}




button{
  cursor: pointer;
}


.open>.dropdown-menu {
  display: block;
}

.no-padding{
  padding: 0 !important;

}

.credentials{
  text-transform: capitalize;
}

.center{
  text-align: center;
}

/*quill*/

.ql-editor{
  background-color: white;
  min-height: 130px;

}

.ql-editor p{
  font-size: 1rem;
  //color: $mainOrange;
}

.ng-invalid:not(form) .ql-editor  {
  border: 2px solid #a94442; /* red */
}

.ql-editor:focus  {
  color: #464a4c;
  background-color: #fff;
  border: solid 1px;
  border-color: #5cb3fd;
  outline: 0;
}

/*form*/



// input.ng-invalid.showvalidity  {
//   border-left: 5px solid #a94442; /* red */
// }
// form input.showvalidity.ng-valid.ng-dirty, .ng-valid .ql-editor {
//   border-left: 5px solid #1ca900; /* green */
// }




/*modal*/

@media (min-width: 576px) {

  .modal-dialog {
    margin: 22vh auto 5vh;
  }

}

button.close{
  order: 2;
}

.modal-header{
  background-color: var(--main-color-2-light-5);
  border-radius: 2px 2px 0 0;
}

.modal-dialog input{
  max-width: 250px;
}

.modal-title{
  color: white;
}

.modal-body{
  overflow-x: auto;
}

.bloc-container{
  /*max-width: 460px;*/
  margin-left: auto;
  margin-right: auto;
}

@media( max-width: 767px) {
  .bloc-container{
    padding-top: 32px;
  }
}
@media( min-width: 767px) {
  .bloc-container{
    padding: 32px 32px 16px;
  }
}

.bloc{
  border-radius: 3px;
  background-color: #fff;
  margin-bottom: 16px;
  border: 1px solid rgba(0,0,0,.12) !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0,0,0,.26) !important;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}

.bloc-title{
  border-bottom: 1px solid rgba(0,0,0,.12);
  padding: 16px;
  background-color: $mainYellow;
  color: #4d4d4d;
}


/*SEARCH BAR*/

.ngui-auto-complete > ul li{
  cursor: default;
}



/* Bootstrap default */

.btn{
  font-family: "ralewaymedium";
}

.btn-primary {
  color: black;
  background-color: var(--main-color-2);
  border-color: var(--main-color-2);
  &:disabled{
    color: #212529;
    background-color: var(--main-color-2-light-5);
    border-color: var(--main-color-2-light-5);
  }
  &:hover {
    color: black;
    background-color: var(--main-color-2-light-10);
    border-color: var(--main-color-2-light-10);
  }
  &:focus {
    color: black;
    background-color: var(--main-color-2-light-10);
    border-color: var(--main-color-2-light-10);
  }
  &:not(:disabled):not(.disabled):active{
    color: black;
    background-color: var(--main-color-2-light-10);
    border-color: var(--main-color-2-light-10);
  }
}



.btn-secondary {
  color: #fff;
  background-color: #211D1E;
  border-color: #211D1E;
;
  &:disabled{
    color: #e1e1e1;
    background-color: rgb(71, 71, 71);
    border-color: #211D1E;
  }
  &:hover {
    color: #fff;
    background-color: rgb(71, 71, 71);
    border-color: #211D1E;
  }
  &:focus {
    color: #fff;
    background-color: rgb(71, 71, 71);
    border-color: #211D1E;
  }
}



.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-right: 1px solid !important;
  border-color: $mainOrange !important;
  outline: 0;
  /*box-shadow: 0 0 0 0.2rem rgba(254, 94, 56, 0.13);*/
  box-shadow: none !important;
}



.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(254, 94, 56, 0.13);
}



.btn-edit {
  /*border: transparent;*/
  background-color: transparent;
  color: #868e96;
  border: none !important;

}

.btn-edit:hover, .btn-edit:focus{
  color: #3e3e3e;
  /*border: transparent;*/
  border: none !important;
  background-color: transparent;
}

.dropdown-item:active {
  background-color: #9eb2c5;
}



/*UPLOAD INPUT*/

upload{
  max-width: 100%;
}

/*pwd strength bar*/

password-strength-bar{
  text-align: center;
}

//slack
.slackLoginContainer{
  margin-bottom: 1rem;
}


.slackIcon{
  max-height: 27px;
}

//crisp-client
@media (max-width : $smScreen) {
  .crisp-client{
    display: none !important;
  }
}
