<form class="CreateEditDomainForm" [formGroup]="createEditDomainForm">
  <mat-form-field appearance="outline">
    <mat-label>Nom</mat-label>
    <input matInput formControlName="name" required />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Admins</mat-label>
    <mat-select multiple [compareWith]="compareIds" required formControlName="community_admins">
      <mat-option *ngFor="let user of usersInCommunity$ | async" [value]="user">{{ user.first_name | titlecase }} {{ user.last_name | titlecase }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <button
      *ngIf="isCreating"
      type="submit"
      mat-flat-button
      class="large"
      (click)="onUpdateDomain()"
      [disabled]="!createEditDomainForm.valid"
      color="primary"
    >
      Créer
    </button>
    <button
      *ngIf="!isCreating"
      type="submit"
      mat-flat-button
      class="large"
      (click)="onUpdateDomain()"
      [disabled]="!createEditDomainForm.valid"
      color="primary"
    >
      Mettre à jour
    </button>
    <button
      (click)="onCloseEditDomain.emit()"
      class="CreateEditDomainForm-close"
      type="button"
      mat-icon-button
      color="secondary"
    >
      Annuler
    </button>
  </div>
</form>
