<div class="button-container">
  <a class="footer-link" routerLink="/dashboard/profile" routerLinkActive="is-active"><mat-icon aria-hidden="true">face</mat-icon></a>
  <a class="footer-link" routerLink="/dashboard/search" routerLinkActive="is-active"><mat-icon aria-hidden="true">search</mat-icon></a>
  <a class="footer-link" routerLink="/dashboard/discussion" routerLinkActive="is-active">
    <mat-icon>chat</mat-icon>
    <span class="" *ngIf="countNotRead$ | async as countNotRead">
        {{countNotRead}}
    </span>
  </a>
</div>

<!--<ion-tabs>-->
<!--  <ion-tab-bar slot="bottom">-->
<!--    <ion-tab-button tab="profile">-->
<!--      <a class="footer-link" routerLink="/dashboard/profile" routerLinkActive="is-active"><mat-icon aria-hidden="true">face</mat-icon></a>-->
<!--    </ion-tab-button>-->

<!--    <ion-tab-button tab="search">-->
<!--      <a class="footer-link" routerLink="/dashboard/search" routerLinkActive="is-active"><mat-icon aria-hidden="true">search</mat-icon></a>-->
<!--    </ion-tab-button>-->

<!--    <ion-tab-button tab="discussion">-->
<!--      <a class="footer-link" routerLink="/dashboard/discussion" routerLinkActive="is-active">-->
<!--        <mat-icon>chat</mat-icon>-->
<!--        <span class="" *ngIf="countNotRead$ | async as countNotRead">-->
<!--            {{countNotRead}}-->
<!--        </span>-->
<!--      </a>-->
<!--    </ion-tab-button>-->
<!--  </ion-tab-bar>-->
<!--</ion-tabs>-->
