@import './../../../../assets/scss/variables.scss';

nav.navbar{
  //background-color: $mainBgColor;
  //border-bottom: solid 1px $basicBorderColor;
  background-color: #d6d6d6;
  border-bottom: solid 1px #b3b3b3;
  #notifications{
    .dropdown-toggle::after{
      display: none;
    }
  }

  #searchBarType{
    .fa{
      z-index: -10;
      position: relative;
    }
  }

  #filter-tag[data-selected=true], #filter-map[data-selected=true]{
    color: #2196F3;
  }
  //toggle switch
  $TgWidth: 40px;
  $TgHeigt: (34/60)*$TgWidth;
  .switch {
    position: relative;
    display: inline-block;
    width: $TgWidth;
    height: $TgHeigt;
    margin-bottom: 0;
    margin-top: 0.5rem;
  }

  .switch input {display:none;}

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: (26/60)*$TgWidth;
    width: (26/60)*$TgWidth;
    left: (4/60)*$TgWidth;
    bottom: (4/60)*$TgWidth;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    //background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX((26/60)*$TgWidth);
    -ms-transform: translateX((26/60)*$TgWidth);
    transform: translateX((26/60)*$TgWidth);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

.navbar-nav{
  flex-direction: row;
}


