<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a *ngIf="connected && screen" class="navbar-brand" routerLink="/search">
        <img width="37px" src="{{logoPath}}" alt="">
    </a>
    <a *ngIf="!connected && screen" class="navbar-brand" routerLink="/">
        <img width="37px" src="{{logoPath}}" alt="">
    </a>

    <ul class="navbar-nav mr-auto" style="max-width: 64vw;">
        <li class="nav-item" >
            <form class="form-inline my-2 my-lg-0">
                <searchBar></searchBar>
            </form>
        </li>
        <li  *ngIf="!connected" class="nav-item" >
            <form class="form-inline my-2 my-lg-0">
                <cityBar></cityBar>
            </form>
        </li>

    </ul>
    <ul class="navbar-nav ml-auto">
        <li *ngIf="connected" ngbDropdown  id="notifications" class="nav-item d-inline-block">
            <a class="nav-link dropdown-toggle" id="headerBell" ngbDropdownToggle>
               <i class="fa fa-bell"></i> <span class="badge">{{ unreadMessagesCount }}</span>
            </a>
            <div ngbDropdownMenu aria-labelledby="headerBell" *ngIf="notifications && (notifications.length > 0)">
              <div  *ngFor="let notification of notifications">
                <a class="nav-link dropdown-item" (click)="activateNotification(notification)" style="border-bottom: solid 1px #f5f1f1">{{notification.name}} : <span style="text-overflow: ellipsis">{{notification.lastMessage.message}}</span></a>
              </div>
            </div>
        </li>
        <li *ngIf="connected" ngbDropdown  id="parameters" class="nav-item d-inline-block">
            <a class="nav-link dropdown-toggle" id="dropdownParameters" ngbDropdownToggle>
                <img *ngIf="currentClient.image" height="30px" src="{{imagePath}}{{currentClient.image.filename}}" alt="">
                <img *ngIf="!currentClient.image" height="30px" src="{{imagePath}}{{baseImageName}}" alt="">
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownParameters">
                <a class="nav-link dropdown-item" routerLink="/profilsettings">Profil</a>
                <a class="nav-link dropdown-item" routerLink="/settings">Paramètres</a>
                <a class="nav-link dropdown-item" (click)="logOut()">Déconnexion</a>
            </div>
        </li>
        <li *ngIf="!connected && screen" class="nav-item" >
            <a class="nav-link" routerLink="/login">Connexion</a>
        </li>
        <li *ngIf="!connected && screen" class="nav-item" >
            <a class="nav-link" routerLink="/subscribe">Inscription</a>
        </li>

        <li *ngIf="connected && bo"  class="nav-item">
            <a class="nav-link disabled" href="#">Administration</a>
        </li>
    </ul>
</nav>
<message></message>