<section class="ProfileSettingsForm-page">
  <h1 class="center">Profil</h1>
  <form *ngIf="loaded" class="ProfileSettingsForm form-horizontal" (ngSubmit)="submit()"
        [formGroup]="userForm">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6">
          <div class="row">
            <div class="col-12 col-md-6 order-2 order-md-1">
              <div class="col-12 no-padding ProfileSettingsForm-firstname-container">
                <profile-form-firstname [saving]="savingInput.first_name"
                                        [parentForm]="userForm"></profile-form-firstname>
              </div>
              <div class="col-12 no-padding">
                <profile-form-lastname [saving]="savingInput.last_name" [parentForm]="userForm"></profile-form-lastname>
              </div>
            </div>
            <div class="ProfileSettingsForm-profilImage-container col-12 col-md-6 order-1 order-md-2">
              <app-upload-form-image [parentForm]="userForm" [url]="'/api/profile/uploadProfileImage'"></app-upload-form-image>
              <br>
            </div>
          </div>

          <div id="learnTagsFormContainer" class="row fieldContainer">
            <div class="col-12">
              <h6 class="ProfileSettingsForm-title">Je veux apprendre
                <app-emoji [emojiName]="'1F4C8'"></app-emoji>
              </h6>
              <profile-form-tags [parentForm]="userForm" [fieldName]="'learn_tags'"
                                 [type]="learnType"></profile-form-tags>
            </div>
          </div>

          <div class="row fieldContainer">
            <div class="col-12">
              <h6 class="ProfileSettingsForm-title">Mes projets
                <app-emoji [emojiName]="'1F9D1-200D-1F680'"></app-emoji>
              </h6>
              <profile-form-biography [saving]="savingInput.biographie"
                                      [parentForm]="userForm"></profile-form-biography>
            </div>
          </div>
          <div class="row fieldContainer">
            <div class="col-12">
              <h6 class="ProfileSettingsForm-title">Je connais
                <app-emoji [emojiName]="'E319'"></app-emoji>
              </h6>
              <profile-form-tags [parentForm]="userForm" [fieldName]="'know_tags'"
                                 [type]="knowType"></profile-form-tags>
            </div>
          </div>
          <div class="row fieldContainer">
            <div class="col-12">
              <h6 class="ProfileSettingsForm-title">J'ai envie de transmettre
                <app-emoji [emojiName]="'1F9D1-200D-1F3EB'"></app-emoji>
              </h6>
              <profile-form-tags [parentForm]="userForm" [fieldName]="'teach_tags'"
                                 [type]="teachType"></profile-form-tags>
            </div>
          </div>
          <div class="row fieldContainer">
            <div class="col-12">
              <h6 class="ProfileSettingsForm-title">L'intensité à laquelle je souhaite apprendre</h6>
              <profile-form-intensity [parentForm]="userForm"></profile-form-intensity>
            </div>
          </div>
          <div class="row fieldContainer">
            <div class="col-12">
              <h6 class="ProfileSettingsForm-title">Ma position</h6>
              <app-geolocation [parentForm]="userForm"></app-geolocation>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
