@import 'variables';


.mat-error {
  font-size: 13px;
}

.alert-outline {
  border: solid 1px red;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#notificationSettings{
  label{
    display: flex;
  }
  & > span{
    align-self: center;
    padding-top: 5px;
    padding-right: 7px;
  }
}

