<hr>
<div class="form-group" id="notificationSettings">
    <label> Rendre visible mon profil</label>
    <app-toggler [(active)]="user.show_profil" (change)="submit()"  [disabled]="isDisabled"></app-toggler>
    <div class="alert-outline" *ngIf="isDisabled">
      <p class="mat-error">
        Pour pouvoir rendre visible votre profil vous devez remplir votre biographie et ajouter un domaine d'apprentissage que vous souhaitez apprendre.
      </p>
      <button mat-raised-button color="primary" [routerLink]="nav.profileSettings"><b>Remplir mon profil</b></button>
    </div>

    <p class="form-text text-muted">
        Ceci vous permet d'être visible et ainsi pouvoir être contacté par d'autres utilisateurs.
    </p>
</div>
