@import 'variables';

.ProfileSettingsForm {
  &-page {
    background-color: white;
  }

  &-image {
    margin-bottom: 25px;
  }

  @media (max-width: $smScreen) {
    margin: 0 15px;
  }
  profile-form-image {
    margin-bottom: 20px;
  }
  .row .row {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}


.fieldContainer{
  //border: #ececec solid 1px;
  padding-top: 15px;
  background-color: white;
  ::ng-deep h6{
    text-transform: uppercase;
    color: grey;
    display: flex;
    align-items: center;
  }
}


.label-form{
  font-family: 'ralewaymedium', sans-serif;
  font-size:20px;
}

.form-group{
  margin-bottom: 0;
}


//slack
.btn-container{
  margin: 3px;
}

.slackLoginContainer {
  padding-left: 15px;
}
//rocket chat
.value-span {
  font-family: 'ralewayregular', sans-serif;
  font-size:16px;
}


.help-input{
  color: grey;
  text-align: center;
  margin: 15px;
}




