<section *ngIf="!isMobile">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 offset-md-1 col-md-10">
                <br>
                <div class="card">
                    <div class="card-header page-bloc-title">
                        <h2 class="center">Profil</h2>
                    </div>
                    <div class="card-body">
                        <app-profile-settings-desktop></app-profile-settings-desktop>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section *ngIf="isMobile" class="mobile">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 no-padding">
                <app-profile-settings-mobile></app-profile-settings-mobile>
            </div>
        </div>
    </div>
</section>
