<section *ngIf="!isMobile">
    <div *ngIf="user$ | async as user" class="container-fluid">
        <div class="row">
            <div class="col-12">
                <br>
                <div class="card">
                    <div class="card-header bloc-title">
                        <h2 class="center">
                            <span class="profil-title">Profil</span>
                        </h2>
                    </div>
                    <div class="card-body">
                        <profile-settings [_user]="user"></profile-settings>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section *ngIf="isMobile" class="mobile">
    <div *ngIf="user$ | async as user" class="container-fluid">
        <div class="row">
            <div class="col-12 no-padding">
                <profile-settings [_user]="user"></profile-settings>
            </div>
        </div>
    </div>
</section>
