<div id="possibleMatchesContainer" class="container-fluid">
    <div class="row">

        <div [ngClass]="noThreads  ? 'col-12' : 'col-10'" class="col-sm-10" style="margin: auto;">

            <div class="row">

                <div class="offset-sm-1 col-sm-10 col-12" >


                    <div *ngIf="cards"  style="align-items: center;" class="row"
                       infinite-scroll
		                  [infiniteScrollDistance]="2"
		                  [infiniteScrollThrottle]="50"
		                  (scrolled)="onScroll()"
                       [scrollWindow]="true">

                      <div *ngIf="!cards[0]"  class="emptyCardsMessage col-12">
                        <p>Mince, nous n'avons pas trouvé de profils qui correspondent à vos critères... Pour étendre le champs de recherche, n'hésitez pas à ajouter des tags dans votre profil !  </p>
                      </div>

                      <app-card *ngFor="let card of cards" [card]="card[0]" class="col-12 col-sm-12 col-md-6 col-lg-6" ></app-card>

                    </div>


                </div>

            </div>
            <div id="searchLoader" class="row center">
            <!--<img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />-->
              <svg  *ngIf="loading | async"  xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="64px" height="64px" viewBox="0 0 128 128" xml:space="preserve"><rect x="0" y="0" width="100%" height="100%" /><g><linearGradient id="linear-gradient"><stop offset="0%" stop-color="#ffffff" fill-opacity="0"/><stop offset="100%" stop-color="#fe5f38" fill-opacity="1"/></linearGradient><path d="M63.85 0A63.85 63.85 0 1 1 0 63.85 63.85 63.85 0 0 1 63.85 0zm.65 19.5a44 44 0 1 1-44 44 44 44 0 0 1 44-44z" fill="url(#linear-gradient)" fill-rule="evenodd"/><animateTransform attributeName="transform" type="rotate" from="0 64 64" to="360 64 64" dur="1080ms" repeatCount="indefinite"></animateTransform></g></svg>
            </div>

        </div>
        <div id="conversationColumn" [ngClass]="noThreads ? 'col-0' : 'col-2' | async">
            <chat-threads></chat-threads>
        </div>
    </div>

</div>

<div class="container">
    <chat-window></chat-window>
</div>
