.message{
  background: #333;
  color: #bbb;
  display: block;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 200;
  line-height: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999999999;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 0;
}