<div *ngIf="_thread.id" class="media conversation">
  <div class="pull-left">
    <wc-profil-image [image]="_thread.image" [style]="{width: '50px', height: '50px', padding: '6px', borderRadius: '50px'  }"></wc-profil-image>
  </div>
  <div class="media-body">
    <span class="media-heading">{{_thread.name}}
      <span class="media-heading-count" *ngIf="_thread.countNotRead">
       {{_thread.countNotRead}}
      </span>
    </span>
    <div class="media-content">
      <small class="message-preview">{{_thread.lastMessage.message | removeHtml}}</small>
    </div>
  </div>
  <a (click)="loadMessages($event)" class="div-link">Select</a>
</div>
