<div *ngIf="_thread.id" class="media conversation" [class.selected]="selected"  >
  <div class="pull-left">
    <wc-profil-image [image]="_thread" [style]="{width: '50px', height: '50px', padding: '6px', borderRadius: '50px'  }"></wc-profil-image>
  </div>
  <div class="media-body">
    <span class="media-heading">{{_thread.name}}
    </span>
    <div class="media-content">
      <small *ngIf="_thread.lastMessage.sender && _thread.id === _thread.lastMessage.sender.id" class="message-preview">{{_thread.lastMessage.message}}</small>
      <small *ngIf="!_thread.lastMessage.sender || !(_thread.id === _thread.lastMessage.sender.id)" class="message-preview"></small>
    </div>
  </div>
  <a (click)="loadMessages($event)" class="div-link">Select</a>
</div>
