<form name="form" (ngSubmit)="f.form.valid && sendEmail()" #f="ngForm" novalidate>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
    <label for="email">Email</label>
    <input type="email" id="email" class="form-control showvalidity" name="email" [(ngModel)]="newEmail"
           #email="ngModel" required pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"/>
    <div *ngIf="f.submitted && !email.pristine && !email.valid" class="help-block">Veuillez renseigner un email valide
    </div>
  </div>
  <div class="form-group text-center">
    <button type="submit" [disabled]="loading" class="btn btn-primary ml-auto float-right">
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Envoyer
    </button>
  </div>
</form>
