<div class="msg-container" *ngIf="clientId"
     [ngClass]="msgContainerClass">

  <div class="avatar"
       *ngIf="incoming">
    <img *ngIf="message.sender.image" width="40px" height="40px" src="{{avatarSrcBase}}{{message.sender.image.filename}}">
    <img *ngIf="!message.sender.image"width="40px" height="40px" src="{{avatarSrcBase}}{{baseImageName}}">
  </div>

  <div class="messages"
    [ngClass]="msgContainerClass">
    <p>{{message.message}}</p>
    <!--<p class="time">{{message.created | fromNow}}</p> todo: time not received correctly from api-->
  </div>


</div>
