*{


  --main-color-1: #ff7f1d;
  --main-color-1-light-5: #ff8d37;
  --main-color-1-light-10: #ff9c50;
  --main-color-1-light-15: #ffaa6a;
  --main-color-1-dark-5: #ff7104;
  --main-color-1-dark-10: #e96500;
  --main-color-1-dark-15: #d05a00;

  --main-color-2: #ffd531;
  --main-color-2-light-5: #ffda4b;
  --main-color-2-light-10: #ffdf64;
  --main-color-2-light-15: #ffe57e;
  --main-color-2-dark-5: #ffd018;
  --main-color-2-dark-10: #fdc900;
  --main-color-2-dark-15: #e4b500;

}


/*#ff7f1d orange*/
/*#ffd531 yellow*/