*{


  --main-color-1: #fe5e38;
  --main-color-1-light-5: #fe7351;
  --main-color-1-light-10: #fe876b;
  --main-color-1-light-15: #fe9c84;
  --main-color-1-dark-5: #fe491f;
  --main-color-1-dark-10: #fe3505;
  --main-color-1-dark-15: #e82e01;

  --main-color-2: #fdce2f;
  --main-color-2-light-5: #fdd448;
  --main-color-2-light-10: #fdda62;
  --main-color-2-light-15: #fee07b;
  --main-color-2-dark-5: #fdc816;
  --main-color-2-dark-10: #f7bf02;
  --main-color-2-dark-15: #ddab02;

}

/*#ff7f1d orange*/
/*#ffd531 yellow*/