*{
--main-color-1: #0e7dc9 ;
--main-color-1-light-5:#108ce1;
--main-color-1-light-10: #1b99ef;
--main-color-1-light-15: #33a4f1;
--main-color-1-dark-5: #0c6eb1;
--main-color-1-dark-10: #0b5f99;
--main-color-1-dark-15: #095181;


--main-color-2: #FE7F2D;
--main-color-2-light-5: #fe8e46;
--main-color-2-light-10: #fe9e60;
--main-color-2-light-15: #fead79;
--main-color-2-dark-5: #fe7014;
--main-color-2-dark-10: #f76201;
--main-color-2-dark-15: #dd5801;






}