<div class="col-md-6 col-md-offset-3">
    <h2>Phrases Neutres</h2>
    <form name="form" (ngSubmit)="f.form.valid && explode(f)" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !sentences.valid }">
            <label for="phrases">Phrases</label>
            <textarea class="forms-control" name="sentences" [(ngModel)]="sentences" #phrases="ngModel" required ></textarea> 
            <div *ngIf="f.submitted && !phrases.valid" class="help-block">Les Phrases sont obligatoires</div>
        </div>
        <div class="form-group">
            <button *ngIf="!edition" type="submit" [disabled]="loading" class="btn btn-primary">Ajouter</button> 
            <button *ngIf="edition" type="submit" [disabled]="loading" class="btn btn-primary">Modifier</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>
</div>
<div class="col-md-9 col-md-offset-3">
    <h2>Phrase Neutres découpées</h2>
    <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Phrase</th>
              <th>Langue</th>
              <th>Ajouter</th>
              <th>Supprimer</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let neutre of neutres; let i = index">
              <td>
                <textarea [(ngModel)]="neutre.phrase" #phrase="ngModel"></textarea>
              </td>
              <td>
                <select-language [(idLanguage)]="neutre.idLanguage" ></select-language>
              </td>
              <td>
                <button (click)="post(neutre, index)" class="btn">Ajouter</button>
              </td>
              <td>
                <button (click)="delete(index)" class="btn">Supprimer</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
      
