<!-- Sidebar -->
<div id="sidebar-wrapper" [ngClass]="{'activated' : activated }">

  <ul class="sidebar-nav" >
    <li id="sidebar-logo">
      <a routerLink="/dashboard/search">
        <mat-icon id="complete-logo" svgIcon="logo-full"></mat-icon>
        <mat-icon id="mini-logo" svgIcon="logo-mini"></mat-icon>
      </a>
    </li>
    <li id="profil-picture" class="img-fluid mx-auto">
      <a routerLink="/dashboard/profile">
        <wc-profil-image [image]="me.image" [menu]=true></wc-profil-image>
      </a>
    </li>
    <li id="profil-name">
      <a routerLink="/dashboard/profile"><h2><strong>{{me.last_name}}</strong> {{me.first_name}}</h2></a>
    </li>
    <li class="sidebar-link">
      <a routerLink="/dashboard/search" routerLinkActive="is-active">
        <i class="fas fa-search"></i>
        <p>Rechercher</p>
      </a>
    </li>
    <li class="sidebar-link">
      <a routerLink="/dashboard/discussion" routerLinkActive="is-active">
        <i class="fas fa-comment"></i>
        <p>Discussion</p>
      </a>
    </li>
  </ul>
  <ng-container *ngIf="isAdmin">
    <p class="sidebar-nav-sectionTitle">Admin</p>
    <ul class="sidebar-nav">
      <li class="sidebar-link">
        <a routerLink="/dashboard/admin/users" routerLinkActive="is-active">
          <i class="fas fa-people-carry"></i>
          <p>Utilisateurs</p>
        </a>
      </li>
    </ul>
  </ng-container>
</div>
