@import './../../../../../assets/scss/variables.scss';


#communitiesPage{

  @extend .gradient_background_mainYellow;
  min-height: 95vh;
  .title{
    color: $mainOrange;
    padding: 50px 0px;
  }
}
