<div id="map" class="map"></div>
<div class="GeoPosition">
  <mat-form-field appearance="legacy" >
    <mat-label>Chercher mon adresse</mat-label>
    <input matInput id="searchGeolocation" style="width: 80%; display: inline-block;" placeholder="" [formControl]="addressCtrl" [matAutocomplete]="auto" (focusout)="inputLostFocus()" >
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAddressSelect($event)">
      <mat-option *ngFor="let address of foundAddresses | async" [value]="address">
        {{ address.city }}, {{address.country}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div class="GeoPosition-actions">
    <button class="button" type="button" (click)="setCurrentPosition()"> Me géolocaliser</button>
  </div>
</div>


