<form name="form" (ngSubmit)="f.form.valid && sendEmail()" #f="ngForm" [ngClass]="f.submitted ? 'was-validated':''">
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
    <label for="email">Email</label>
    <input type="email" id="email" class="form-control showvalidity" name="email" [(ngModel)]="newEmail"
           #email="ngModel" required pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"/>
    <div class="invalid-feedback">L'email n'est pas valide</div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="loading" mat-raised-button color="primary" class="btn-block">
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Envoyer
    </button>
  </div>
</form>
